Repository microsoft/Agents-for-net, changes with the labels that .github/labeler.yml gives for each.
All labels: Build: Automation, Build: scripts & configs, ML: Core, ML: Tests, ML: Packages

A2A handling message/send, better TCK handling
  src/libraries/Hosting/A2A/A2AAdapter.cs
  src/libraries/Hosting/A2A/A2AConverter.cs
  src/libraries/Hosting/A2A/A2AResponseHandler.cs
  src/libraries/Hosting/A2A/A2AServiceExtensions.cs
  src/libraries/Hosting/A2A/IAgentCardHandler.cs
  src/libraries/Hosting/A2A/JsonRpc/RequestId.cs
  src/libraries/Hosting/A2A/Protocol/SendStreamingMessageResponse.cs
  src/libraries/Hosting/AspNetCore/ActivityResponseHandler.cs
  src/libraries/Hosting/AspNetCore/ChannelResponseQueue.cs
  src/libraries/Hosting/AspNetCore/CloudAdapter.cs
  src/libraries/Hosting/AspNetCore/ExpectRepliesResponseWriter.cs
  src/libraries/Hosting/AspNetCore/IChannelResponseHandler.cs
Labels: ML: Core

A2A: tasks/cancel
  src/libraries/Hosting/A2A/A2AAdapter.cs
  src/libraries/Hosting/A2A/A2AResponseHandler.cs
  src/libraries/Hosting/A2A/Protocol/AgentTask.cs
  src/libraries/Hosting/A2A/Protocol/TaskState.cs
  src/libraries/Hosting/A2A/TaskStore.cs
  src/libraries/Hosting/AspNetCore/ChannelResponseQueue.cs
  src/samples/A2AAgent/MyAgent.cs
Labels: ML: Core

A2A A bit of cleanup
  src/libraries/Hosting/A2A/A2AAdapter.cs
  src/libraries/Hosting/A2A/A2AConverter.cs
  src/libraries/Hosting/A2A/A2AResponseHandler.cs
  src/libraries/Hosting/A2A/A2AServiceExtensions.cs
Labels: ML: Core

Unit test race
  src/tests/Microsoft.Agents.Hosting.AspNetCore/CloudAdapterTests.cs
Labels: ML: Tests

A2A HistoryLenght handling
  src/libraries/Hosting/A2A/A2AAdapter.cs
  src/libraries/Hosting/A2A/A2AConverter.cs
  src/libraries/Hosting/A2A/A2AResponseHandler.cs
  src/libraries/Hosting/A2A/IA2AHttpAdapter.cs
  src/libraries/Hosting/A2A/ModelExtensions.cs
  src/libraries/Hosting/A2A/Protocol/AgentTask.cs
  src/libraries/Hosting/AspNetCore/IAgentHttpAdapter.cs
Labels: ML: Core

Update MembershipSource.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/Models/MembershipSource.cs
Labels: ML: Core

Narrowed race in HostedService Stop and ActivityQueue
  src/libraries/Hosting/AspNetCore/BackgroundQueue/ActivityTaskQueue.cs
  src/libraries/Hosting/AspNetCore/BackgroundQueue/HostedActivityService.cs
  src/libraries/Hosting/AspNetCore/BackgroundQueue/IActivityTaskQueue.cs
  src/tests/Microsoft.Agents.Hosting.AspNetCore/CloudAdapterTests.cs
Labels: ML: Core, ML: Tests

Fix null handling for ChannelId in middleware and response
  src/libraries/Builder/Microsoft.Agents.Builder/Compat/TeamsSSOTokenExchangeMiddleware.cs
  src/libraries/Builder/Microsoft.Agents.Builder/StreamingResponse.cs
  src/libraries/Builder/Microsoft.Agents.Builder/UserAuth/TokenService/Deduplicate.cs
Labels: ML: Core

StreamingResponse: Handling nulls in ErrorResponseException
  src/libraries/Builder/Microsoft.Agents.Builder/StreamingResponse.cs
Labels: ML: Core

Added CopilotStudioClient into test-samples
  src/Microsoft.Agents.SDK.sln
  src/test-samples/CopilotStudioClient/AddTokenHandler.cs
  src/test-samples/CopilotStudioClient/AddTokenHandlerS2S.cs
  src/test-samples/CopilotStudioClient/ChatConsoleService.cs
  src/test-samples/CopilotStudioClient/CopilotStudioClient.csproj
  src/test-samples/CopilotStudioClient/Program.cs
  src/test-samples/CopilotStudioClient/README.md
  src/test-samples/CopilotStudioClient/SampleConnectionSettings.cs
  src/test-samples/CopilotStudioClient/TimeSpanExtensions.cs
  src/test-samples/CopilotStudioClient/appsettings.json
Labels: none

A2A: Refinements to Activity response handling
  src/libraries/Hosting/A2A/A2AAdapter.cs
  src/libraries/Hosting/A2A/A2AConverter.cs
  src/libraries/Hosting/A2A/A2AResponseHandler.cs
  src/libraries/Hosting/A2A/HeaderPropagation.cs
  src/libraries/Hosting/A2A/ITaskStore.cs
  src/libraries/Hosting/A2A/ModelExtensions.cs
  src/libraries/Hosting/A2A/TaskStore.cs
  src/libraries/Hosting/AspNetCore/BackgroundQueue/ActivityTaskQueue.cs
  src/libraries/Hosting/AspNetCore/BackgroundQueue/IActivityTaskQueue.cs
  src/libraries/Hosting/AspNetCore/CloudAdapter.cs
  src/samples/A2AAgent/MyAgent.cs
Labels: ML: Core

A2A: Incoming DataParts added to Attachments as application/json
  src/libraries/Hosting/A2A/A2AConverter.cs
  src/samples/A2AAgent/MyAgent.cs
Labels: ML: Core

A2A: EndOfConversation Text included as Message in TaskStatus
  src/libraries/Hosting/A2A/A2AResponseHandler.cs
  src/samples/A2AAgent/MyAgent.cs
Labels: ML: Core

Add package source and package.
  Directory.Packages.props
  nuget.config
  src/libraries/Hosting/AspNetCore/Microsoft.Agents.Hosting.AspNetCore.csproj
Labels: ML: Core, ML: Packages

.github/labeler.yml:

"Build: Automation":
- changed-files:
  - any-glob-to-any-file: ['.github/**', '.azuredevops/**']

"Build: scripts & configs":
- changed-files:
  - any-glob-to-any-file: ['build/**']

"ML: Core":
- changed-files:
  - any-glob-to-any-file: ['src/libraries/**']

"ML: Tests":
- changed-files:
  - any-glob-to-any-file: ['src/tests/**']

"ML: Packages":
- changed-files:
  - any-glob-to-any-file: ['Directory.Packages.props']
