Repository microsoft/Agents-for-net, pull requests merged in 2025-02, with the labels that each got.

#77 Add unit tests for the Microsoft.Agents.Client namespace
  src/libraries/Client/Microsoft.Agents.Client/AssemblyInfo.cs
  src/tests/Microsoft.Agents.Client.Tests/ConfigurationChannelHostTests.cs
  src/tests/Microsoft.Agents.Client.Tests/HttpBotChannelFactoryTests.cs
  src/tests/Microsoft.Agents.Client.Tests/HttpBotChannelTests.cs
Labels: ML: Core, ML: Tests

#78 Added AdapterOptions to control CloudAdapter
  src/Microsoft.Agents.SDK.sln
  src/libraries/Hosting/AspNetCore/AdapterOptions.cs
  src/libraries/Hosting/AspNetCore/BackgroundTaskService/HostedTaskService.cs
  src/libraries/Hosting/AspNetCore/CloudAdapter.cs
  src/samples/Teams/MessagingExtensionsSearch/Bots/TeamsMessagingExtensionsSearchBot.cs
  src/samples/Teams/bot-tag-mention/Dialogs/MainDialog.cs
  src/tests/Microsoft.Agents.BotBuilder.TestBot.Shared/Debugging/DebugAdapter.cs
  src/tests/Microsoft.Agents.Hosting.AspNetCore/BackgroundTaskService/HostedTaskServiceTests.cs
  src/tests/Microsoft.Agents.Hosting.AspNetCore/CloudAdapterTests.cs
Labels: ML: Samples, ML: Core, ML: Tests

#80 Create dependabot.yml
  .github/dependabot.yml
Labels: Build: Automation

#81 Add unit tests for the Microsoft.Agents.BotBuilder project
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/ActivityHandler.cs
  src/tests/Microsoft.Agents.BotBuilder.Tests/ActivityHandlerTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Tests/ChannelServiceAdapterBaseTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Tests/MiddlewareSetTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Tests/NormalizeMentionsMiddlewareTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Tests/OAuthFlowTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Tests/TurnContextTests.cs
  src/tests/Microsoft.Agents.Client.Tests/BotFrameworkSkillHandlerTests.cs
Labels: ML: Core, ML: Tests

#82 Add unit tests for the Microsoft.Agents.Authentication project
  src/libraries/Core/Microsoft.Agents.Authentication/AssemblyInfo.cs
  src/tests/Microsoft.Agents.Auth.Tests/AuthTests.cs
  src/tests/Microsoft.Agents.Auth.Tests/BotClaimsTests.cs
  src/tests/Microsoft.Agents.Auth.Tests/ConfigurationConnectionsTests.cs
  src/tests/Microsoft.Agents.Auth.Tests/ConnectionSettingsBaseTests.cs
  src/tests/Microsoft.Agents.Auth.Tests/Microsoft.Agents.Auth.Tests.csproj
  src/tests/Microsoft.Agents.Auth.Tests/SetupServiceCollection.cs
  src/tests/Microsoft.Agents.Auth.Tests/SkippableConnectionTestAttribute.cs
  src/tests/Microsoft.Agents.Auth.Tests/TraceConsoleLoggingProvider.cs
Labels: ML: Core, ML: Tests

#73 Corrected SearchInvokeValue.QueryOptions type
  src/libraries/Core/Microsoft.Agents.Core/Models/SearchInvokeValue.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/Converters/SearchInvokeValueConverter.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/ProtocolJsonSerializer.cs
  src/libraries/Hosting/AspNetCore/BackgroundActivityService/HostedActivityService.cs
Labels: ML: Core

#75 Update README with setup and authentication instructions for Copilot Studio client
  src/libraries/Client/Microsoft.Agents.CopilotStudio.Client/README.md
Labels: ML: Core

#89 Add unit tests for the Microsoft.Agents.BotBuilder.Dialogs/Debugging folder
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder.Dialogs/Debugging/SourceRange.cs
  src/tests/Microsoft.Agents.BotBuilder.Dialogs.Tests/Debugging/DebugSupportTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Dialogs.Tests/Debugging/SourceContextTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Dialogs.Tests/Debugging/SourceMapTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Dialogs.Tests/Debugging/SourcePointTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Dialogs.Tests/Debugging/SourceRangeTests.cs
Labels: ML: Core, ML: Tests

#87 Removed DeliveryModes `ephemeral` and `notification`
  src/libraries/Core/Microsoft.Agents.Core/Models/DeliveryModes.cs
Labels: ML: Core

#90 Correct deserializtion of Dictionary<string, object> value types
  src/libraries/Core/Microsoft.Agents.Core/Serialization/Converters/DictionaryOfObjectConverter.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/TypeExtensions.cs
Labels: ML: Core

#91 Add unit tests for the Microsoft.Agents.BotBuilder.Dialogs namespace
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder.Dialogs/AssemblyInfo.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder.Dialogs/Recognizer.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/Converters/DictionaryOfObjectConverter.cs
  src/tests/Microsoft.Agents.BotBuilder.Dialogs.Tests/AdapterExtensionsTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Dialogs.Tests/ComponentDialogTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Dialogs.Tests/Debugging/DebugSupportTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Dialogs.Tests/DialogContainerTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Dialogs.Tests/DialogContextTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Dialogs.Tests/DialogExtensionsTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Dialogs.Tests/DialogSetTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Dialogs.Tests/DialogTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Dialogs.Tests/PersistedStateTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Dialogs.Tests/RecognizerResultExtensionsTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Dialogs.Tests/RecognizerTest.cs
  src/tests/Microsoft.Agents.BotBuilder.Dialogs.Tests/RecognizerTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Dialogs.Tests/SkillDialogTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Dialogs.Tests/StringUtilsTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Dialogs.Tests/WaterfallDialogTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Dialogs.Tests/WaterfallStepContextTests.cs
Labels: ML: Core, ML: Tests

#85 Add Scopes validation for ClientCredentials authentication
  src/libraries/Authentication/Authentication.Msal/MsalAuth.cs
  src/tests/Microsoft.Agents.Authentication.Msal.Tests/MsalAuthTests.cs
Labels: ML: Core, ML: Tests

#100 Moved common ASP.net configuration file for Agent samples to a common location.
  src/samples/AuthenticationBot/AspNetExtensions.cs
  src/samples/BotToBot/Bot1/appsettings.json
  src/samples/BotToBot/Bot2/AspNetExtensions.cs
  src/samples/CopilotStudioClientSample/CopilotStudioClientSample.csproj
  src/samples/CopilotStudioEchoSkill/AspNetExtensions.cs
  src/samples/Directory.Build.props
  src/samples/EchoBot/AspNetExtensions.cs
  src/samples/EvalClient/EvalClient.csproj
  src/samples/SemanticKernel/WeatherBot/AspNetExtensions.cs
  src/samples/Shared/AspNetExtensions.cs
  src/samples/Teams/AdaptiveCardActions/AspNetExtensions.cs
  src/samples/Teams/ConversationBot/AspNetExtensions.cs
  src/samples/Teams/LinkUnfurling/AspNetExtensions.cs
  src/samples/Teams/Meeting-Context-App/AspNetExtensions.cs
  src/samples/Teams/Meetings-Notification/AspNetExtensions.cs
  src/samples/Teams/MessagingExtensionsSearch/AspNetExtensions.cs
  src/samples/Teams/TaskModule/AspNetExtensions.cs
  src/samples/Teams/bot-all-cards/AspNetExtensions.cs
  src/samples/Teams/bot-conversation-sso-quickstart/AspNetExtensions.cs
  src/samples/Teams/bot-people-picker-adaptive-card/AspNetExtensions.cs
  src/samples/Teams/bot-receive-channel-messages-withRSC/AspNetExtensions.cs
  src/samples/Teams/bot-request-approval/AspNetExtensions.cs
  src/samples/Teams/bot-request-approval/Program.cs
  src/samples/Teams/bot-tag-mention/AspNetExtensions.cs
  src/samples/Teams/bot-teams-authentication/AspNetExtensions.cs
  src/samples/Teams/bot-type-ahead-search-adaptive-cards/AspNetExtensions.cs
  src/samples/Teams/bot-type-ahead-search-adaptive-cards/Program.cs
  src/tests/Directory.Build.props
Labels: ML: Samples, ML: Tests

#103 Enhance AuthModuleLoader with logging and error handling
  src/libraries/Core/Microsoft.Agents.Authentication/AuthModuleLoader.cs
  src/libraries/Core/Microsoft.Agents.Authentication/ConfigurationConnections.cs
  src/libraries/Core/Microsoft.Agents.Authentication/Errors/AgentAuthErrorDefinition.cs
  src/libraries/Core/Microsoft.Agents.Authentication/Errors/ErrorHelper.cs
  src/libraries/Core/Microsoft.Agents.Authentication/Properties/Resources.Designer.cs
  src/libraries/Core/Microsoft.Agents.Authentication/Properties/Resources.resx
  src/samples/AuthenticationBot/appsettings.json
  src/samples/BotToBot/Bot1/appsettings.json
  src/samples/BotToBot/Bot2/appsettings.json
  src/samples/CopilotStudioEchoSkill/appsettings.json
  src/samples/EchoBot/appsettings.json
  src/samples/Teams/AdaptiveCardActions/appsettings.json
  src/samples/Teams/ConversationBot/appsettings.json
  src/samples/Teams/LinkUnfurling/appsettings.json
  src/samples/Teams/Meeting-Context-App/appsettings.json
  src/samples/Teams/Meetings-Notification/appsettings.json
  src/samples/Teams/MessagingExtensionsSearch/appsettings.json
  src/samples/Teams/TaskModule/appsettings.json
  src/samples/Teams/bot-all-cards/appsettings.json
  src/samples/Teams/bot-conversation-sso-quickstart/appsettings.json
  src/samples/Teams/bot-people-picker-adaptive-card/appsettings.json
  src/samples/Teams/bot-receive-channel-messages-withRSC/appsettings.json
  src/samples/Teams/bot-request-approval/appsettings.json
  src/samples/Teams/bot-tag-mention/appsettings.json
  src/samples/Teams/bot-teams-authentication/appsettings.json
  src/samples/Teams/bot-type-ahead-search-adaptive-cards/appsettings.json
  src/tests/Microsoft.Agents.Auth.Tests/ConfigurationConnectionsTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Tests/ChannelServiceClientFactoryTests.cs
  src/tests/Microsoft.Agents.TestSupport/ExceptionTester.cs
Labels: ML: Samples, ML: Core, ML: Tests

#104 Allow nullable prompt in BeginFlowAsync method
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/OAuthFlow.cs
Labels: ML: Core

#111 Handling manual signin with success/failure callbacks.
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder.Dialogs/Prompts/OAuthPrompt.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder.Dialogs/Prompts/OAuthPromptSettings.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/ActivityUtilities.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/AdaptiveCards/AdaptiveCardsFeature.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/Application.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/ApplicationOptions.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/Authentication/AuthUtilities.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/Authentication/AuthenticationManager.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/TypingTimer.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/UserAuth/UserAuthenticationFeature.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/UserAuth/UserAuthenticationOptions.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/UserAuth/AuthException.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/UserAuth/IUserAuthentication.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/UserAuth/IUserAuthenticationDispatcher.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/UserAuth/SignInResponse.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/UserAuth/SignInStatus.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/UserAuth/TokenService/DedupeTokenExchange.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/UserAuth/TokenService/OAuthAuthentication.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/UserAuth/TokenService/OAuthBotAuthentication.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/UserAuth/TokenService/OAuthFlow.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/UserAuth/TokenService/OAuthSettings.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/UserAuth/TokenService/UserTokenClientWrapper.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/UserAuth/UserAuthenticationDispatcher.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/App/MessageExtensions/MessageExtensionsFeature.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/App/TaskModules/TaskModulesFeature.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/App/TeamsApplication.cs
  src/samples/Application/AuthenticationBot/Program.cs
  src/samples/AuthenticationBot/AuthBot.cs
  src/tests/Microsoft.Agents.BotBuilder.Tests/App/TestUtils/TestApplication.cs
  src/tests/Microsoft.Agents.BotBuilder.Tests/App/TestUtils/TestUserAuthenticationFeature.cs
  src/tests/Microsoft.Agents.BotBuilder.Tests/App/UserAuthenticationFeatureTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Tests/OAuthFlowTests.cs
Labels: ML: Samples, ML: Core, ML: Tests

#109 Fixed async CloudAdapter making IBot a singleton
  src/libraries/Hosting/AspNetCore/BackgroundActivityService/ActivityTaskQueue.cs
  src/libraries/Hosting/AspNetCore/BackgroundActivityService/ActivityWithClaims.cs
  src/libraries/Hosting/AspNetCore/BackgroundActivityService/HostedActivityService.cs
  src/libraries/Hosting/AspNetCore/BackgroundActivityService/IActivityTaskQueue.cs
  src/samples/SemanticKernel/WeatherBot/Agents/WeatherForecastAgent.cs
  src/samples/SemanticKernel/WeatherBot/MyBot.cs
  src/samples/SemanticKernel/WeatherBot/Program.cs
  src/tests/Microsoft.Agents.Hosting.AspNetCore/BackgroundActivityService/HostedActivityServiceTests.cs
  src/tests/Microsoft.Agents.Hosting.AspNetCore/CloudAdapterTests.cs
Labels: ML: Samples, ML: Core, ML: Tests

#98 Add unit tests for the Microsoft.Agents.BotBuilder.Sharepoint
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/Sharepoint/SharePointSSOTokenExchangeMiddleware.cs
  src/tests/Microsoft.Agents.BotBuilder.Tests/SharePoint/SharePointActivityHandlerTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Tests/SharePoint/SharePointSSOTokenExchangeMiddlewareTests.cs
Labels: ML: Core, ML: Tests

#113 Fix typo in readme for the semantic kernel weather bot sample
  src/samples/SemanticKernel/WeatherBot/README.md
Labels: From Fork, ML: Samples

#114 Update conversation start event parameter in CopilotClient
  src/libraries/Client/Microsoft.Agents.CopilotStudio.Client/CopilotClient.cs
Labels: ML: Core
