Repository microsoft/Agents-for-net, pull requests merged in 2025-03, with the labels that each got.

#118 Fix prefix removal in sse
  src/libraries/Client/Microsoft.Agents.Mcp.Client/Transports/HttpSseClientTransport.cs
Labels: ML: Core

#121 WeatherBot README and appsettings consistency changes
  src/samples/SemanticKernel/WeatherBot/README.md
  src/samples/SemanticKernel/WeatherBot/appsettings.json
Labels: ML: Samples

#120 Added check for required AgentApplicationOptions.Adapter
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/UserAuth/UserAuthenticationFeature.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/Errors/ErrorHelper.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/Properties/Resources.Designer.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/Properties/Resources.resx
  src/tests/Microsoft.Agents.BotBuilder.Tests/App/UserAuthenticationFeatureTests.cs
Labels: ML: Core, ML: Tests

#117 Reverted Teams Compat example to be closer to original source sample
  src/Microsoft.Agents.SDK.sln
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder.Dialogs/DialogExtensions.cs
  src/samples/Compat/TeamsConversationSsoQuickstart/AdapterWithErrorHandler.cs
  src/samples/Compat/TeamsConversationSsoQuickstart/Bots/DialogBot.cs
  src/samples/Compat/TeamsConversationSsoQuickstart/Bots/TeamsBot.cs
  src/samples/Compat/TeamsConversationSsoQuickstart/Controllers/BotController.cs
  src/samples/Compat/TeamsConversationSsoQuickstart/Dialogs/LogoutDialog.cs
  src/samples/Compat/TeamsConversationSsoQuickstart/Dialogs/MainDialog.cs
  src/samples/Compat/TeamsConversationSsoQuickstart/Program.cs
  src/samples/Compat/TeamsConversationSsoQuickstart/SimpleGraphClient.cs
Labels: ML: Samples, ML: Core

#122 Enhance error handling and localization support
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/ChannelAdapter.cs
  src/libraries/Client/Microsoft.Agents.Connector/Errors/ErrorHelper.cs
  src/libraries/Client/Microsoft.Agents.Connector/Microsoft.Agents.Connector.csproj
  src/libraries/Client/Microsoft.Agents.Connector/Properties/Resources.Designer.cs
  src/libraries/Client/Microsoft.Agents.Connector/Properties/Resources.resx
  src/libraries/Client/Microsoft.Agents.Connector/RestClients/AttachmentsRestClient.cs
  src/libraries/Client/Microsoft.Agents.Connector/RestClients/BotSignInRestClient.cs
  src/libraries/Client/Microsoft.Agents.Connector/RestClients/ConversationsRestClient.cs
  src/libraries/Client/Microsoft.Agents.Connector/RestClients/UserTokenRestClient.cs
  src/libraries/Client/Microsoft.Agents.Connector/RestUserTokenClient.cs
  src/libraries/Client/Microsoft.Agents.Connector/Types/ErrorResponseException.cs
  src/libraries/Core/Microsoft.Agents.Core/Errors/ErrorResponse.cs
  src/libraries/Core/Microsoft.Agents.Core/Errors/ErrorResponseException.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/Compat/TeamsActivityHandler.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/Connector/RestTeamsOperations.cs
  src/tests/Microsoft.Agents.Connector.Tests/AttachmentsRestClientTests.cs
  src/tests/Microsoft.Agents.Connector.Tests/ConversationsRestClientTests.cs
  src/tests/Microsoft.Agents.Connector.Tests/ErrorTests.cs
  src/tests/Microsoft.Agents.Extensions.Teams.Tests/Connector/RestTeamsOperationsTests.cs
  src/tests/Microsoft.Agents.Hosting.AspNetCore/CloudAdapterTests.cs
Labels: ML: Core, ML: Tests

#124 Added DI and IConfiguration support for AgentApplicationOptions
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/AgentApplicationBuilder.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/AgentApplicationOptions.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/App/TeamsApplicationOptions.cs
  src/samples/AuthenticationBot/Program.cs
  src/samples/AuthenticationBot/appsettings.json
  src/samples/Compat/AuthenticationBotCompat/Program.cs
  src/samples/CopilotStudioEchoSkill/Program.cs
  src/samples/CopilotStudioEchoSkill/appsettings.json
  src/samples/EchoBot/MyBot.cs
  src/samples/EchoBot/Program.cs
  src/samples/EchoBot/appsettings.json
  src/samples/SemanticKernel/WeatherBot/Program.cs
  src/samples/SemanticKernel/WeatherBot/appsettings.json
Labels: ML: Samples, ML: Core

#125 Added GitHubMCPServer sample project and enhanced transports
  .gitignore
  src/Microsoft.Agents.SDK.sln
  src/libraries/Client/Microsoft.Agents.Mcp.Client/Transports/StdioClientTransport.cs
  src/libraries/Hosting/Microsoft.Agents.Mcp.Server.AspNet/HttpSseServerTransport.cs
  src/libraries/Hosting/Microsoft.Agents.Mcp.Server.AspNet/StdioServerTransport.cs
  src/libraries/Hosting/Microsoft.Agents.Mcp.Server/README.md
  src/samples/ModelContextProtocol/GitHubMCPServer/GitHubMCPServer.csproj
  src/samples/ModelContextProtocol/GitHubMCPServer/GithubController.cs
  src/samples/ModelContextProtocol/GitHubMCPServer/Operations/GitHubCreateRepoOperationExecutor.cs
  src/samples/ModelContextProtocol/GitHubMCPServer/Operations/GitHubIssueOperationExecutor.cs
  src/samples/ModelContextProtocol/GitHubMCPServer/Program.cs
  src/samples/ModelContextProtocol/GitHubMCPServer/appsettings.json
  src/tests/Microsoft.Agents.Mcp.Tests/CallbackTransportTests.cs
  src/tests/Microsoft.Agents.Mcp.Tests/SseTransportTests.cs
Labels: ML: Samples, ML: Core, ML: Tests, MCP

#96 Add unit tests for the Microsoft.Agents.BotBuilder.Teams
  src/libraries/Client/Microsoft.Agents.Connector/RestClients/ConversationsRestClient.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/Compat/TeamsSSOTokenExchangeMiddleware.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/Connector/RestTeamsOperations.cs
  src/tests/Microsoft.Agents.Extensions.Teams.Tests/Compat/TeamsSSOTokenExchangeMiddlewareTests.cs
  src/tests/Microsoft.Agents.Extensions.Teams.Tests/Connector/TeamsInfoTests.cs
  src/tests/Microsoft.Agents.Extensions.Teams.Tests/Handler/TeamsActivityHandlerTests.cs
  src/tests/Microsoft.Agents.Extensions.Teams.Tests/TeamsActivityExtensionsTests.cs
Labels: ML: Core, ML: Tests

#131 Sync'd changes in official EchoBot sample to repo.
  src/samples/EchoBot/BotController.cs
  src/samples/EchoBot/ConversationStateExtensions.cs
  src/samples/EchoBot/MyBot.cs
  src/samples/EchoBot/StateExtensions.cs
  src/samples/Shared/AspNetExtensions.cs
Labels: ML: Samples

#133 Streaming Responses and sample
  src/Microsoft.Agents.SDK.sln
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/AgentApplication.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/StreamingResponse.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/Compat/TypedTurnContext.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/Errors/ErrorHelper.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/IStreamingResponse.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/ITurnContext.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/Properties/Resources.Designer.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/Properties/Resources.resx
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/StreamingResponse.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/TurnContext.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/StreamInfo.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/StreamResult.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/StreamTypes.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/Converters/ConnectorConverter.cs
  src/samples/AuthorizationBot/appManifest/manifest.json
  src/samples/StreamingMessageBot/BotController.cs
  src/samples/StreamingMessageBot/MyBot.cs
  src/samples/StreamingMessageBot/Program.cs
  src/samples/StreamingMessageBot/README.md
  src/samples/StreamingMessageBot/StreamingMessageBot.csproj
  src/samples/StreamingMessageBot/appManifest/color.png
  src/samples/StreamingMessageBot/appManifest/manifest.json
  src/samples/StreamingMessageBot/appManifest/outline.png
  src/samples/StreamingMessageBot/appsettings.json
  src/samples/test-bots/IntermediateMessagesBot/BotController.cs
  src/samples/test-bots/IntermediateMessagesBot/MyBot.cs
  src/tests/Microsoft.Agents.BotBuilder.Dialogs.Tests/TestCloudAdapter.cs
  src/tests/Microsoft.Agents.Model.Tests/StreamInfoTests.cs
Labels: ML: Samples, ML: Core, ML: Tests

#132 Added remaining RouteAttribute functionality
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/ActivityRouteAttribute.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/AdaptiveCards/AdaptiveCardsFeature.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/AgentApplication.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/ConversationUpdateRouteAttribute.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/MultipleRouteSelector.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/Route.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/RouteAttribute.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/RouteList.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/TurnEventHandler.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/UserAuth/UserAuthenticationFeature.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/Errors/ErrorHelper.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/Properties/Resources.Designer.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/Properties/Resources.resx
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/App/Meetings/MeetingsFeature.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/App/MessageExtensions/MessageExtensionsFeature.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/App/TaskModules/TaskModulesFeature.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/App/TeamsApplication.cs
  src/samples/SemanticKernel/WeatherBot/Agents/WeatherForecastAgent.cs
  src/samples/SemanticKernel/WeatherBot/Agents/WeatherForecastAgentResponse.cs
  src/samples/SemanticKernel/WeatherBot/BotController.cs
  src/samples/SemanticKernel/WeatherBot/Controllers/BotController.cs
  src/samples/SemanticKernel/WeatherBot/MyBot.cs
  src/samples/SemanticKernel/WeatherBot/Plugins/AdaptiveCardPlugin.cs
  src/samples/SemanticKernel/WeatherBot/Plugins/DateTimePlugin.cs
  src/samples/SemanticKernel/WeatherBot/Plugins/WeatherForecast.cs
  src/samples/SemanticKernel/WeatherBot/Plugins/WeatherForecastPlugin.cs
  src/samples/SemanticKernel/WeatherBot/appsettings.json
  src/tests/Microsoft.Agents.BotBuilder.Tests/App/ActivityRouteAttributeTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Tests/App/AdaptiveCardsTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Tests/App/ApplicationRouteTests.cs
  src/tests/Microsoft.Agents.BotBuilder.Tests/App/RouteAttributeTests.cs
  src/tests/Microsoft.Agents.Extensions.Teams.Tests/App/MessageExtensionsTests.cs
  src/tests/Microsoft.Agents.Extensions.Teams.Tests/App/TaskModulesTests.cs
Labels: ML: Samples, ML: Core, ML: Tests

#140 UserAuth: Initial SignIn works for any Activity type
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/UserAuth/UserAuthorizationFeature.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/UserAuth/IUserAuthorization.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/UserAuth/IUserAuthorizationDispatcher.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/UserAuth/TokenService/AzureBotUserAuthorization.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/UserAuth/UserAuthorizationDispatcher.cs
  src/libraries/Hosting/AspNetCore/ServiceCollectionExtensions.cs
  src/samples/AuthorizationBot/AuthorizationBot.csproj
  src/samples/AuthorizationBot/Program.cs
  src/samples/EchoBot/Properties/launchSettings.TEMPLATE.json
  src/tests/Microsoft.Agents.BotBuilder.Tests/App/UserAuthenticationFeatureTests.cs
Labels: ML: Samples, ML: Core, ML: Tests

#136 Initial PR for teams extensions with tests
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/AgentExtension.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/App/AgentApplication.cs
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/IAgentExtension.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/App/TaskModules/TaskModulesFeature.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/App/TeamsAgentExtension.cs
  src/tests/Microsoft.Agents.Extensions.Teams.Tests/App/ApplicationRouteTests.cs
  src/tests/Microsoft.Agents.Extensions.Teams.Tests/App/MeetingsTests.cs
  src/tests/Microsoft.Agents.Extensions.Teams.Tests/App/MessageExtensionsTests.cs
  src/tests/Microsoft.Agents.Extensions.Teams.Tests/App/TaskModulesTests.cs
Labels: ML: Core, ML: Tests

#141 Make IStorage registration explicit
  src/libraries/Hosting/AspNetCore/ServiceCollectionExtensions.cs
  src/samples/AuthorizationBot/Program.cs
  src/samples/Compat/AuthenticationBotCompat/Program.cs
  src/samples/Compat/TeamsConversationSsoQuickstart/Program.cs
  src/samples/CopilotStudioEchoSkill/Program.cs
  src/samples/EchoBot/Program.cs
  src/samples/SemanticKernel/WeatherBot/Program.cs
  src/samples/StreamingMessageBot/Program.cs
Labels: ML: Samples, ML: Core

#148 Removed "bot" from CopilotStudioClient
  src/libraries/Client/Microsoft.Agents.CopilotStudio.Client/ConnectionSettings.cs
  src/libraries/Client/Microsoft.Agents.CopilotStudio.Client/CopilotClient.cs
  src/libraries/Client/Microsoft.Agents.CopilotStudio.Client/Discovery/AgentType.cs
  src/libraries/Client/Microsoft.Agents.CopilotStudio.Client/Discovery/PowerPlatformEnvironment.cs
  src/libraries/Client/Microsoft.Agents.CopilotStudio.Client/Interfaces/IDirectToEngineConnectionSettings.cs
  src/samples/CopilotStudioClient/CopilotStudioClient/ChatConsoleService.cs
  src/samples/CopilotStudioClient/CopilotStudioClient/Properties/launchSettings.TEMPLATE.json
  src/samples/CopilotStudioClient/CopilotStudioClient/README.md
  src/samples/CopilotStudioClient/CopilotStudioClient/appsettings.json
  src/samples/CopilotStudioClient/EvalClient/EvaluationService.cs
  src/samples/CopilotStudioClient/EvalClient/README.md
  src/samples/CopilotStudioClient/EvalClient/appsettings.json
  src/tests/Microsoft.Agents.CopilotStudio.Client.Tests/CopilotClientTests.cs
  src/tests/Microsoft.Agents.CopilotStudio.Client.Tests/McsConnectionSettingsTests.cs
Labels: ML: Samples, ML: Core, ML: Tests

#146 Added optional 'rank' to IAgentExtension.AddRoute
  src/libraries/Builder/Microsoft.Agents.Builder/AgentExtension.cs
  src/libraries/Builder/Microsoft.Agents.Builder/IAgentExtension.cs
Labels: ML: Core

#147 Connector "bot" to "agent"
  src/libraries/Client/Microsoft.Agents.Connector/IConnectorClient.cs
  src/libraries/Client/Microsoft.Agents.Connector/IConversations.cs
  src/libraries/Client/Microsoft.Agents.Connector/Properties/Resources.resx
  src/libraries/Client/Microsoft.Agents.Connector/RestClients/AgentSignInRestClient.cs
  src/libraries/Client/Microsoft.Agents.Connector/RestClients/IAgentSignIn.cs
  src/libraries/Client/Microsoft.Agents.Connector/RestConnectorClient.cs
  src/libraries/Client/Microsoft.Agents.Connector/RestUserTokenClient.cs
  src/tests/Microsoft.Agents.Connector.Tests/BotSignInRestClientTests.cs
Labels: ML: Core, ML: Tests

#149 Removed Microsoft.Agents.Telemetry
  src/Microsoft.Agents.SDK.sln
  src/libraries/Builder/Microsoft.Agents.Builder.Dialogs/ComponentDialog.cs
  src/libraries/Builder/Microsoft.Agents.Builder.Dialogs/Debugging/DebugSupport.cs
  src/libraries/Builder/Microsoft.Agents.Builder.Dialogs/Dialog.cs
  src/libraries/Builder/Microsoft.Agents.Builder.Dialogs/DialogContainer.cs
  src/libraries/Builder/Microsoft.Agents.Builder.Dialogs/DialogExtensions.cs
  src/libraries/Builder/Microsoft.Agents.Builder.Dialogs/DialogSet.cs
  src/libraries/Builder/Microsoft.Agents.Builder.Dialogs/IRecognizer.cs
  src/libraries/Builder/Microsoft.Agents.Builder.Dialogs/IRecognizerConvert.cs
  src/libraries/Builder/Microsoft.Agents.Builder.Dialogs/Recognizer.cs
  src/libraries/Builder/Microsoft.Agents.Builder.Dialogs/RecognizerResult.cs
  src/libraries/Builder/Microsoft.Agents.Builder.Dialogs/RecognizerResultExtensions.cs
  src/libraries/Builder/Microsoft.Agents.Builder.Dialogs/WaterfallDialog.cs
  src/libraries/Builder/Microsoft.Agents.Builder/Compat/TelemetryLoggerMiddleware.cs
  src/libraries/Builder/Microsoft.Agents.Builder/Microsoft.Agents.Builder.csproj
  src/libraries/Core/Microsoft.Agents.Telemetry/IBotPageViewTelemetryClient.cs
  src/libraries/Core/Microsoft.Agents.Telemetry/IBotTelemetryClient.cs
  src/libraries/Core/Microsoft.Agents.Telemetry/IBotTelemetryClientExtensions.cs
  src/libraries/Core/Microsoft.Agents.Telemetry/Microsoft.Agents.Telemetry.csproj
  src/libraries/Core/Microsoft.Agents.Telemetry/NullBotTelemetryClient.cs
  src/libraries/Core/Microsoft.Agents.Telemetry/README.md
  src/libraries/Core/Microsoft.Agents.Telemetry/Severity.cs
  src/libraries/Core/Microsoft.Agents.Telemetry/TelemetryConstants.cs
  src/libraries/Core/Microsoft.Agents.Telemetry/TelemetryLoggerConstants.cs
  src/tests/Microsoft.Agents.Builder.Dialogs.Tests/ComponentDialogTests.cs
  src/tests/Microsoft.Agents.Builder.Dialogs.Tests/Debugging/DebugSupportTests.cs
  src/tests/Microsoft.Agents.Builder.Dialogs.Tests/DialogExtensionsTests.cs
  src/tests/Microsoft.Agents.Builder.Dialogs.Tests/DialogSetTests.cs
  src/tests/Microsoft.Agents.Builder.Dialogs.Tests/RecognizerResultExtensionsTests.cs
  src/tests/Microsoft.Agents.Builder.Dialogs.Tests/RecognizerTests.cs
  src/tests/Microsoft.Agents.Builder.Dialogs.Tests/ReplaceDialogTest.cs
  src/tests/Microsoft.Agents.Builder.Dialogs.Tests/WaterfallTests.cs
  src/tests/Microsoft.Agents.Builder.TestBot.Shared/Dialogs/MainDialog.cs
  src/tests/Microsoft.Agents.Builder.TestBot.Tests/Dialogs/MainDialogTests.cs
  src/tests/Microsoft.Agents.Builder.TestBot.Tests/Framework/SimpleMockFactory.cs
Labels: ML: Core, ML: Tests

#152 Create codeql.yml
  .github/workflows/codeql.yml
Labels: Build: Automation

#154 Update codeql.yml
  .github/dependabot.yml
  .github/workflows/codeql.yml
Labels: Build: Automation

#150 Storage: "bot" to "agent"
  src/libraries/Storage/Microsoft.Agents.Storage.Blobs/README.md
  src/libraries/Storage/Microsoft.Agents.Storage.CosmosDb/CosmosDbPartitionedStorage.cs
  src/libraries/Storage/Microsoft.Agents.Storage.CosmosDb/README.md
  src/libraries/Storage/Microsoft.Agents.Storage/README.md
Labels: ML: Core

#165 UserAuthorization config checks and error message improvements
  src/libraries/Builder/Microsoft.Agents.Builder/App/UserAuth/UserAuthorizationFeature.cs
  src/libraries/Builder/Microsoft.Agents.Builder/App/UserAuth/UserAuthorizationOptions.cs
  src/libraries/Builder/Microsoft.Agents.Builder/Errors/ErrorHelper.cs
  src/libraries/Builder/Microsoft.Agents.Builder/Properties/Resources.Designer.cs
  src/libraries/Builder/Microsoft.Agents.Builder/Properties/Resources.resx
  src/libraries/Builder/Microsoft.Agents.Builder/UserAuth/IUserAuthorizationDispatcher.cs
  src/libraries/Builder/Microsoft.Agents.Builder/UserAuth/UserAuthorizationDispatcher.cs
  src/samples/AuthorizationAgent/AuthAgent.cs
  src/tests/Microsoft.Agents.Builder.Tests/App/UserAuthenticationFeatureTests.cs
Labels: ML: Samples, ML: Core, ML: Tests

#163 Added unit tests for AgentResponses
  Directory.Packages.props
  src/Microsoft.Agents.SDK.sln
  src/libraries/Client/Microsoft.Agents.Client/AdapterChannelResponseHandler.cs
  src/libraries/Client/Microsoft.Agents.Client/ConversationIdFactory.cs
  src/libraries/Client/Microsoft.Agents.Client/ConversationIdFactoryOptions.cs
  src/libraries/Client/Microsoft.Agents.Client/IConversationIdFactory.cs
  src/libraries/Core/Microsoft.Agents.Authentication/AssemblyInfo.cs
  src/libraries/Storage/Microsoft.Agents.Storage.Transcript/FileTranscriptLogger.cs
  src/tests/Microsoft.Agents.Authentication.Tests/AgentClaimsTests.cs
  src/tests/Microsoft.Agents.Authentication.Tests/AuthTests.cs
  src/tests/Microsoft.Agents.Authentication.Tests/ConfigurationConnectionsTests.cs
  src/tests/Microsoft.Agents.Authentication.Tests/ConnectionSettingsBaseTests.cs
  src/tests/Microsoft.Agents.Authentication.Tests/Microsoft.Agents.Authentication.Tests.csproj
  src/tests/Microsoft.Agents.Authentication.Tests/Resources/activityPayload.json
  src/tests/Microsoft.Agents.Authentication.Tests/Resources/authvalidation_appsettings.json
  src/tests/Microsoft.Agents.Authentication.Tests/Resources/testappsettings.json
  src/tests/Microsoft.Agents.Authentication.Tests/SetupServiceCollection.cs
  src/tests/Microsoft.Agents.Authentication.Tests/SkippableConnectionTestAttribute.cs
  src/tests/Microsoft.Agents.Authentication.Tests/TraceConsoleLoggingProvider.cs
  src/tests/Microsoft.Agents.Builder.Dialogs.Tests/Microsoft.Agents.Builder.Dialogs.Tests.csproj
  src/tests/Microsoft.Agents.Builder.Dialogs.Tests/SkillDialogTests.cs
  src/tests/Microsoft.Agents.Builder.TestBot.Tests/Bots/DialogAndWelcomeBotTests.cs
  src/tests/Microsoft.Agents.Builder.TestBot.Tests/Bots/DialogBotTests.cs
  src/tests/Microsoft.Agents.Builder.TestBot.Tests/Controllers/BotControllerTests.cs
  src/tests/Microsoft.Agents.Builder.TestBot.Tests/Dialogs/BookingDialogTests.cs
  src/tests/Microsoft.Agents.Builder.TestBot.Tests/Dialogs/CancelAndHelpDialogTests.cs
  src/tests/Microsoft.Agents.Builder.TestBot.Tests/Dialogs/DateResolverDialogTests.cs
  src/tests/Microsoft.Agents.Builder.TestBot.Tests/Dialogs/GetBookingDetailsDialogTests.cs
  src/tests/Microsoft.Agents.Builder.TestBot.Tests/Dialogs/MainDialogTests.cs
  src/tests/Microsoft.Agents.Builder.TestBot.Tests/Dialogs/TestData/BookingDialogTestCase.cs
  src/tests/Microsoft.Agents.Builder.TestBot.Tests/Dialogs/TestData/BookingDialogTestsDataGenerator.cs
  src/tests/Microsoft.Agents.Builder.TestBot.Tests/Dialogs/TestData/DateResolverDialogTestCase.cs
  src/tests/Microsoft.Agents.Builder.TestBot.Tests/Dialogs/TestData/DateResolverDialogTestsDataGenerator.cs
  src/tests/Microsoft.Agents.Builder.TestBot.Tests/Dialogs/TestData/GetBookingDetailsDialogTestCase.cs
  src/tests/Microsoft.Agents.Builder.TestBot.Tests/Dialogs/TestData/GetBookingDetailsDialogTestsDataGenerator.cs
  src/tests/Microsoft.Agents.Builder.TestBot.Tests/Dialogs/TestData/README.md
  src/tests/Microsoft.Agents.Builder.TestBot.Tests/Framework/BotTestBase.cs
  src/tests/Microsoft.Agents.Builder.TestBot.Tests/Framework/README.md
  src/tests/Microsoft.Agents.Builder.TestBot.Tests/Framework/SimpleMockFactory.cs
  src/tests/Microsoft.Agents.Builder.TestBot.Tests/Microsoft.Agents.Builder.TestBot.Tests.csproj
  src/tests/Microsoft.Agents.Builder.TestBot.Tests/appsettings.json
  src/tests/Microsoft.Agents.Builder.TestBot.Tests/stylecop.json
  src/tests/Microsoft.Agents.Builder.TestBot.Tests/xunit.runner.json
  src/tests/Microsoft.Agents.Builder.TestBot/AdapterWithErrorHandler.cs
  src/tests/Microsoft.Agents.Builder.TestBot/BotBuilderTestBot.bot
  src/tests/Microsoft.Agents.Builder.TestBot/DeploymentScripts/Linux/deploy.sh
  src/tests/Microsoft.Agents.Builder.TestBot/Microsoft.Agents.Builder.TestBot.csproj
  src/tests/Microsoft.Agents.Builder.TestBot/Program.cs
  src/tests/Microsoft.Agents.Builder.TestBot/Startup.cs
  src/tests/Microsoft.Agents.Builder.TestBot/appsettings.json
  src/tests/Microsoft.Agents.Builder.TestBot/wwwroot/default.htm
  src/tests/Microsoft.Agents.Builder.TestBot/wwwroot/default.html
  src/tests/Microsoft.Agents.Client.Tests/AgentResponseExtensionTests.cs
  src/tests/Microsoft.Agents.Client.Tests/ConversationIdFactoryTests.cs
  src/tests/Microsoft.Agents.Client.Tests/SkillChannelApiHandlerTests.cs
  src/tests/Microsoft.Agents.Client.Tests/TestHttpMessageHandler.cs
  src/tests/Microsoft.Agents.Storage.Tests/TranscriptBaseTests.cs
Labels: ML: Core, ML: Tests, ML: Packages
