Repository microsoft/Agents-for-net, pull requests merged in 2025-04, with the labels that each got.

#171 Added more Channel methods to determine channel support for things
  src/libraries/Core/Microsoft.Agents.Core/Models/Channels.cs
Labels: ML: Core

#158 AgentToAgent: Added ChannelConversationReference.AgentConversationId
  src/libraries/Client/Microsoft.Agents.Client/ChannelConversationReference.cs
  src/libraries/Client/Microsoft.Agents.Client/ConfigurationAgentHost.cs
  src/samples/AgentToAgent/Agent1/HostAgent.cs
Labels: ML: Samples, ML: Core

#169 Adding S2S and DirectAPIEndpoint Support for CopilotStudioClient
  src/libraries/Client/Microsoft.Agents.Client/Properties/Resources.Designer.cs
  src/libraries/Client/Microsoft.Agents.CopilotStudio.Client/ConnectionSettings.cs
  src/libraries/Client/Microsoft.Agents.CopilotStudio.Client/CopilotClient.cs
  src/libraries/Client/Microsoft.Agents.CopilotStudio.Client/Discovery/PowerPlatformEnvironment.cs
  src/libraries/Client/Microsoft.Agents.CopilotStudio.Client/Interfaces/ICopilotStudioClientConnectionSettings.cs
  src/libraries/Client/Microsoft.Agents.CopilotStudio.Client/README.md
  src/libraries/Client/Microsoft.Agents.CopilotStudio.Client/UserAgentHelper.cs
  src/samples/CopilotStudioClient/CopilotStudioClient/AddTokenHandler.cs
  src/samples/CopilotStudioClient/CopilotStudioClient/AddTokenHandlerS2S.cs
  src/samples/CopilotStudioClient/CopilotStudioClient/ChatConsoleService.cs
  src/samples/CopilotStudioClient/CopilotStudioClient/Program.cs
  src/samples/CopilotStudioClient/CopilotStudioClient/README.md
  src/samples/CopilotStudioClient/CopilotStudioClient/SampleConnectionSettings.cs
  src/samples/CopilotStudioClient/CopilotStudioClient/TimeSpanExtensions.cs
  src/samples/CopilotStudioClient/CopilotStudioClient/appsettings.json
  src/tests/Microsoft.Agents.CopilotStudio.Client.Tests/CopilotClientTests.cs
Labels: ML: Samples, ML: Core, ML: Tests

#175 Dropped "Feature" from AgentApplication feature classes
  src/libraries/Builder/Microsoft.Agents.Builder/App/AdaptiveCards/AdaptiveCard.cs
  src/libraries/Builder/Microsoft.Agents.Builder/App/AdaptiveCards/AdaptiveCardInvokeResponseFactory.cs
  src/libraries/Builder/Microsoft.Agents.Builder/App/AgentApplication.cs
  src/libraries/Builder/Microsoft.Agents.Builder/App/UserAuth/UserAuthorization.cs
  src/libraries/Builder/Microsoft.Agents.Builder/App/UserAuth/UserAuthorizationOptions.cs
  src/libraries/Builder/Microsoft.Agents.Builder/Properties/Resources.Designer.cs
  src/libraries/Builder/Microsoft.Agents.Builder/Properties/Resources.resx
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/App/Meetings/Meeting.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/App/MessageExtensions/MessageExtension.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/App/TaskModules/TaskModule.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/App/TeamsAgentExtension.cs
  src/tests/Microsoft.Agents.Builder.Tests/App/TestUtils/TestUserAuthenticationFeature.cs
Labels: ML: Core, ML: Tests

#181 Update README.md
  src/samples/CopilotStudioClient/CopilotStudioClient/README.md
Labels: ML: Samples

#170 Added AgentApplicationBuilder
  src/libraries/Builder/Microsoft.Agents.Builder/App/AgentApplicationBuilder.cs
  src/libraries/Builder/Microsoft.Agents.Builder/App/AgentApplicationOptions.cs
  src/libraries/Builder/Microsoft.Agents.Builder/App/UserAuth/UserAuthorizationOptions.cs
Labels: ML: Core

#190 Fix: ConcurrentOperationsNotSupported when loading TurnState
  src/libraries/Builder/Microsoft.Agents.Builder/TurnContext.cs
  src/libraries/Builder/Microsoft.Agents.Builder/TurnContextStateCollection.cs
Labels: ML: Core

#193 Code-first setup of IConnections
  src/libraries/Authentication/Authentication.Msal/Model/ConnectionSettings.cs
  src/libraries/Authentication/Authentication.Msal/MsalAuth.cs
  src/libraries/Core/Microsoft.Agents.Authentication/AuthModuleLoader.cs
  src/libraries/Core/Microsoft.Agents.Authentication/ConfigurationConnections.cs
  src/libraries/Core/Microsoft.Agents.Authentication/ConnectionSettingsBase.cs
  src/libraries/Core/Microsoft.Agents.Authentication/Errors/AgentAuthErrorDefinition.cs
  src/libraries/Core/Microsoft.Agents.Authentication/Errors/ErrorHelper.cs
  src/libraries/Core/Microsoft.Agents.Authentication/Microsoft.Agents.Authentication.csproj
  src/libraries/Core/Microsoft.Agents.Authentication/Model/ConnectionMapItem.cs
  src/libraries/Core/Microsoft.Agents.Authentication/Properties/Resources.Designer.cs
  src/libraries/Core/Microsoft.Agents.Authentication/Properties/Resources.resx
  src/tests/Microsoft.Agents.Authentication.Msal.Tests/MsalAuthTests.cs
  src/tests/Microsoft.Agents.Authentication.Tests/AuthTests.cs
  src/tests/Microsoft.Agents.Authentication.Tests/ConfigurationConnectionsTests.cs
Labels: ML: Core, ML: Tests

#194 AgentApplication.Authorization -> UserAuthorization
  src/libraries/Builder/Microsoft.Agents.Builder/App/AgentApplication.cs
  src/libraries/Builder/Microsoft.Agents.Builder/Properties/Resources.Designer.cs
  src/libraries/Builder/Microsoft.Agents.Builder/Properties/Resources.resx
  src/libraries/Builder/Microsoft.Agents.Builder/State/TempState.cs
  src/samples/AuthorizationAgent/AuthAgent.cs
  src/tests/Microsoft.Agents.Builder.Tests/App/UserAuthenticationFeatureTests.cs
Labels: ML: Samples, ML: Core, ML: Tests

#198 Added ActivityTreatment Entity
  src/libraries/Core/Microsoft.Agents.Core/Models/ActivityTreatment.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/ActivityTreatmentTypes.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/EntityExtension.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/EntityTypes.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/Converters/EntityConverter.cs
  src/tests/Microsoft.Agents.Model.Tests/ActivityTreatmentTests.cs
Labels: ML: Core, ML: Tests

#196 Added doc comments to Hosting extensions
  src/libraries/Hosting/AspNetCore/ServiceCollectionExtensions.cs
Labels: ML: Core

#199 Reverting change to throw around anonymous access for non-Emulator
  src/libraries/Builder/Microsoft.Agents.Builder/ChannelServiceAdapterBase.cs
Labels: ML: Core

#189 AgentApplicationOptions and TurnStateFactory
  src/libraries/Builder/Microsoft.Agents.Builder/App/AgentApplicationBuilder.cs
  src/libraries/Builder/Microsoft.Agents.Builder/App/AgentApplicationOptions.cs
  src/libraries/Builder/Microsoft.Agents.Builder/App/UserAuth/UserAuthorization.cs
  src/libraries/Builder/Microsoft.Agents.Builder/App/UserAuth/UserAuthorizationOptions.cs
  src/libraries/Builder/Microsoft.Agents.Builder/State/ITurnState.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/App/TeamsApplicationOptions.cs
  src/libraries/Hosting/AspNetCore/ServiceCollectionExtensions.cs
  src/samples/EchoAgent/Program.cs
  src/tests/Microsoft.Agents.Builder.Tests/App/ActivityRouteAttributeTests.cs
  src/tests/Microsoft.Agents.Builder.Tests/App/AdaptiveCardsTests.cs
  src/tests/Microsoft.Agents.Builder.Tests/App/ApplicationRouteTests.cs
  src/tests/Microsoft.Agents.Builder.Tests/App/Command.cs
  src/tests/Microsoft.Agents.Builder.Tests/App/RouteAttributeTests.cs
  src/tests/Microsoft.Agents.Builder.Tests/App/TestUtils/TestApplication.cs
  src/tests/Microsoft.Agents.Builder.Tests/App/UserAuthenticationFeatureTests.cs
  src/tests/Microsoft.Agents.Client.Tests/AgentResponseExtensionTests.cs
  src/tests/Microsoft.Agents.Client.Tests/ManifestGenerateTests.cs
  src/tests/Microsoft.Agents.Extensions.Teams.Tests/App/ApplicationRouteTests.cs
  src/tests/Microsoft.Agents.Extensions.Teams.Tests/App/MeetingsTests.cs
  src/tests/Microsoft.Agents.Extensions.Teams.Tests/App/MessageExtensionsTests.cs
  src/tests/Microsoft.Agents.Extensions.Teams.Tests/App/TaskModulesTests.cs
Labels: ML: Samples, ML: Core, ML: Tests

#207 User-Agent changes
  src/libraries/Client/Microsoft.Agents.Connector/UserAgent.cs
Labels: ML: Core

#157 Add Get token or SigninInfo
  src/libraries/Builder/Microsoft.Agents.Builder/UserAuth/TokenService/UserTokenClientWrapper.cs
  src/libraries/Client/Microsoft.Agents.Connector/IUserTokenClient.cs
  src/libraries/Client/Microsoft.Agents.Connector/RestClients/IUserToken.cs
  src/libraries/Client/Microsoft.Agents.Connector/RestClients/UserTokenRestClient.cs
  src/libraries/Client/Microsoft.Agents.Connector/RestUserTokenClient.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/TokenOrSignInResourceResponse.cs
  src/tests/Microsoft.Agents.Builder.Testing/Adapters/MockUserTokenClient.cs
  src/tests/Microsoft.Agents.Connector.Tests/UserTokenRestClientTests.cs
Labels: ML: Core, ML: Tests

#202 MsalAuth: FederatedCredentials AuthType
  Directory.Packages.props
  src/libraries/Authentication/Authentication.Msal/Microsoft.Agents.Authentication.Msal.csproj
  src/libraries/Authentication/Authentication.Msal/Model/AuthTypes.cs
  src/libraries/Authentication/Authentication.Msal/Model/ConnectionSettings.cs
  src/libraries/Authentication/Authentication.Msal/MsalAuth.cs
Labels: ML: Core, ML: Packages

#208 Use Authorization header to get claims when auth is disabled
  src/libraries/Hosting/AspNetCore/CloudAdapter.cs
  src/libraries/Hosting/AspNetCore/Microsoft.Agents.Hosting.AspNetCore.csproj
Labels: ML: Core

#210 Per Route Auto OAuth
  src/libraries/Builder/Microsoft.Agents.Builder/App/AgentApplication.cs
  src/libraries/Builder/Microsoft.Agents.Builder/App/Route.cs
  src/libraries/Builder/Microsoft.Agents.Builder/App/RouteList.cs
  src/libraries/Builder/Microsoft.Agents.Builder/App/UserAuth/UserAuthorization.cs
  src/samples/Authorization/AutoSignIn/AuthAgent.cs
  src/samples/Authorization/AutoSignIn/README.md
  src/samples/Authorization/AutoSignIn/appsettings.json
  src/samples/Authorization/ManualSignIn/AuthAgent.cs
  src/samples/Authorization/ManualSignIn/README.md
  src/samples/Authorization/ManualSignIn/appsettings.json
  src/tests/Microsoft.Agents.Builder.Tests/App/UserAuthenticationFeatureTests.cs
Labels: ML: Samples, ML: Core, ML: Tests

#217 Rename OnBotMessage to OnAgentsMessage
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/App/MessageExtensions/MessageExtension.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/Compat/TeamsActivityHandler.cs
  src/tests/Microsoft.Agents.Extensions.Teams.Tests/App/MessageExtensionsTests.cs
  src/tests/Microsoft.Agents.Extensions.Teams.Tests/Handler/TeamsActivityHandlerTests.cs
  src/tests/Microsoft.Agents.Extensions.Teams.Tests/Handler/TestActivityHandler.cs
Labels: ML: Core, ML: Tests

#218 Add DEBUG block for stack trace output control
  src/libraries/Core/Microsoft.Agents.Core/Errors/ExceptionParser.cs
Labels: ML: Core

#220 Adding updating Version info for main branch to 1.0
  src/libraries/version.json
Labels: ML: Core

#214 Using IUserTokenClient.GetTokenOrSignInResourceAsync
  src/libraries/Builder/Microsoft.Agents.Builder/UserAuth/TokenService/OAuthFlow.cs
  src/tests/Microsoft.Agents.Builder.Dialogs.Tests/CloudOAuthPromptTests.cs
  src/tests/Microsoft.Agents.Builder.Testing/Adapters/MockUserTokenClient.cs
Labels: ML: Core, ML: Tests

#229 Updated Agent-to-Agent samples to use minimal Program.cs
  src/samples/AgentToAgent/.gitignore
  src/samples/AgentToAgent/Agent1/Agent1.csproj
  src/samples/AgentToAgent/Agent1/AgentIncomingController.cs
  src/samples/AgentToAgent/Agent1/AgentResponseController.cs
  src/samples/AgentToAgent/Agent1/Program.cs
  src/samples/AgentToAgent/Agent1/Properties/launchSettings.json
  src/samples/AgentToAgent/Agent1/README.md
  src/samples/AgentToAgent/Agent1/appsettings.json
  src/samples/AgentToAgent/Agent2/Agent2.csproj
  src/samples/AgentToAgent/Agent2/AgentIncomingController.cs
  src/samples/AgentToAgent/Agent2/Program.cs
  src/samples/AgentToAgent/Agent2/Properties/launchSettings.json
  src/samples/AgentToAgent/Agent2/README.md
  src/samples/AgentToAgent/Agent2/appsettings.json
  src/samples/AgentToAgent/StreamingAgent1/AgentIncomingController.cs
  src/samples/AgentToAgent/StreamingAgent1/AgentResponseController.cs
  src/samples/AgentToAgent/StreamingAgent1/Program.cs
  src/samples/AgentToAgent/StreamingAgent1/Properties/launchSettings.json
  src/samples/AgentToAgent/StreamingAgent1/README.md
  src/samples/AgentToAgent/StreamingAgent1/StreamingAgent1.csproj
  src/samples/AgentToAgent/StreamingAgent1/appsettings.json
  src/samples/EchoAgent/README.md
Labels: ML: Samples
