Repository microsoft/Agents-for-net, pull requests merged in 2025-08, with the labels that each got.

#394 Exposed BlobsStorage constructor that accepts BlobContainerClient
  src/libraries/Storage/Microsoft.Agents.Storage.Blobs/BlobsStorage.cs
  src/tests/Microsoft.Agents.Storage.Tests/BlobsStorageTests.cs
Labels: ML: Core, ML: Tests

#407 Update MembershipSource.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/Models/MembershipSource.cs
Labels: ML: Core

#403 Added Channels.Supports* for AP Cards
  src/libraries/Core/Microsoft.Agents.Core/Models/Channels.cs
Labels: ML: Core

#406 Fix to allow using a Dialog conditionally in AgentApplication
  src/Microsoft.Agents.SDK.sln
  src/libraries/Builder/Microsoft.Agents.Builder.Dialogs/DialogExtensions.cs
  src/samples/DialogAgent/AspNetExtensions.cs
  src/samples/DialogAgent/DialogAgent.csproj
  src/samples/DialogAgent/DialogAgentApplication.cs
  src/samples/DialogAgent/Program.cs
  src/samples/DialogAgent/README.md
  src/samples/DialogAgent/UserProfile.cs
  src/samples/DialogAgent/UserProfileDialog.cs
  src/samples/DialogAgent/appsettings.json
Labels: ML: Samples, ML: Core

#412 StreamingResponse: Handling nulls in ErrorResponseException
  src/libraries/Builder/Microsoft.Agents.Builder/StreamingResponse.cs
Labels: ML: Core

#424 Adds a fallback mechanic to support falling back to standard messaging when streaming fails for a not supported reason.
  src/libraries/Builder/Microsoft.Agents.Builder/ChannelAdapter.cs
  src/libraries/Builder/Microsoft.Agents.Builder/ChannelServiceAdapterBase.cs
  src/libraries/Builder/Microsoft.Agents.Builder/IChannelAdapter.cs
  src/libraries/Builder/Microsoft.Agents.Builder/StreamingResponse.cs
  src/tests/Microsoft.Agents.Extensions.Teams.Tests/Connector/TeamsInfoTests.cs
Labels: ML: Core, ML: Tests
