Repository microsoft/Agents-for-net, pull requests merged in 2025-05, with the labels that each got.

#231 Sync WeatherAgent
  Directory.Packages.props
  src/samples/SemanticKernel/WeatherAgent/AgentIncomingController.cs
  src/samples/SemanticKernel/WeatherAgent/Agents/WeatherForecastAgent.cs
  src/samples/SemanticKernel/WeatherAgent/MyAgent.cs
  src/samples/SemanticKernel/WeatherAgent/Plugins/AdaptiveCardPlugin.cs
  src/samples/SemanticKernel/WeatherAgent/Plugins/DateTimePlugin.cs
  src/samples/SemanticKernel/WeatherAgent/Plugins/WeatherForecastPlugin.cs
  src/samples/SemanticKernel/WeatherAgent/Program.cs
  src/samples/SemanticKernel/WeatherAgent/README.md
  src/samples/SemanticKernel/WeatherAgent/Weather.cs
  src/samples/SemanticKernel/WeatherAgent/WeatherAgent.csproj
  src/samples/SemanticKernel/WeatherAgent/appsettings.json
Labels: ML: Samples, ML: Packages

#237 Add AdaptiveCardInvokeResponseConverter for JSON handling
  src/libraries/Core/Microsoft.Agents.Core/Serialization/Converters/AdaptiveCardInvokeResponseConverter.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/ProtocolJsonSerializer.cs
Labels: ML: Core

#240 AgentApplication route selector changes
  src/libraries/Builder/Microsoft.Agents.Builder/App/AgentApplication.cs
  src/libraries/Builder/Microsoft.Agents.Builder/ChannelServiceAdapterBase.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/ActivityTypes.cs
  src/tests/Microsoft.Agents.Builder.Testing/Adapters/TestAdapter.cs
  src/tests/Microsoft.Agents.Builder.Testing/TestAdapterTests.cs
  src/tests/Microsoft.Agents.Builder.Tests/App/ApplicationRouteTests.cs
  src/tests/Microsoft.Agents.Builder.Tests/ChannelServiceAdapterBaseTests.cs
Labels: ML: Core, ML: Tests

#246 Users/mbarbour/update teams extension for missingparts
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/App/TeamsAgentExtension.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/Constants/TeamsProactiveGlobalServiceUrls.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/TeamsActivityExtensions.cs
Labels: ML: Core

#243 Extension serialization init fix
  src/libraries/Core/Microsoft.Agents.Core/Serialization/ProtocolJsonSerializer.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/SerializationInitAttribute.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/Serialization/SerializationInit.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/Serialization/SerializerExtensions.cs
Labels: ML: Core

#215 docs: add troubleshoot and finding schema name
  src/samples/CopilotStudioClient/CopilotStudioClient/README.md
Labels: From Fork, ML: Samples

#258 Sync samples changes in umbrella back to repo
  src/samples/AgentToAgent/Agent1/Agent1.csproj
  src/samples/AgentToAgent/Agent2/Agent2.csproj
  src/samples/AgentToAgent/StreamingAgent1/StreamingAgent1.csproj
  src/samples/Authorization/AutoSignIn/appsettings.json
  src/samples/Authorization/ManualSignIn/appsettings.json
  src/samples/CopilotStudioEchoSkill/CopilotStudioEchoSkill.csproj
  src/samples/CopilotStudioEchoSkill/appsettings.json
  src/samples/CopilotStudioEchoSkill/wwwroot/default.htm
  src/samples/EmptyAgent/EmptyAgent.csproj
  src/samples/FullAuthentication/FullAuthentication.csproj
  src/samples/SemanticKernel/WeatherAgent/WeatherAgent.csproj
  src/samples/StreamingMessageAgent/appsettings.json
Labels: ML: Samples

#264 Added AI Citations to StreamingResponses
  src/libraries/Builder/Microsoft.Agents.Builder/IStreamingResponse.cs
  src/libraries/Builder/Microsoft.Agents.Builder/StreamingResponse.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/AIEntity.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/Citation.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/CitationUtils.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/EntityTypes.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/StreamInfo.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/Converters/AIEntityConverter.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/Converters/EntityConverter.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/ProtocolJsonSerializer.cs
  src/tests/Microsoft.Agents.Model.Tests/AICitationTests.cs
Labels: ML: Core, ML: Tests

#268 Update Message processor to not required ServiceURL when an activity request appears with Delivery mode equal to ExpectReplies
  src/libraries/Builder/Microsoft.Agents.Builder/ChannelServiceAdapterBase.cs
Labels: ML: Core

#269 fix linux build
  .github/workflows/ci-linux.yml
  src/libraries/Authentication/Authentication.Msal/MsalAuth.cs
  src/libraries/Builder/Microsoft.Agents.Builder.Dialogs/DialogSet.cs
  src/libraries/Client/Microsoft.Agents.CopilotStudio.Client/Discovery/PowerPlatformEnvironment.cs
Labels: Build: Automation, ML: Core

#270 Add method to determine connector client necessity
  src/libraries/Builder/Microsoft.Agents.Builder/ChannelServiceAdapterBase.cs
Labels: ML: Core

#271 ProtocolJsonSerializer.ApplyExtensionOptions(lamda)
  src/libraries/Core/Microsoft.Agents.Core/Serialization/ProtocolJsonSerializer.cs
  src/libraries/Storage/Microsoft.Agents.Storage.CosmosDb/CosmosDbPartitionedStorage.cs
Labels: ML: Core

#265 Users/jdaly/ai-code-comments
  src/libraries/Core/Microsoft.Agents.Authentication/AgentClaims.cs
  src/libraries/Core/Microsoft.Agents.Authentication/AuthenticationConstants.cs
Labels: From Fork, ML: Core

#277 Added ConversationAccountConverter
  src/libraries/Core/Microsoft.Agents.Core/Serialization/Converters/ConversationAccountConverter.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/ProtocolJsonSerializer.cs
  src/tests/Microsoft.Agents.Model.Tests/ConversationAccountTests.cs
  src/tests/Microsoft.Agents.Model.Tests/ConversationReferenceTests.cs
  src/tests/Microsoft.Agents.Model.Tests/Resources/cps_event_out.json
  src/tests/Microsoft.Agents.Model.Tests/Resources/cps_greeting_out.json
  src/tests/Microsoft.Agents.Model.Tests/Resources/cps_suggestedactions_out.json
Labels: ML: Core, ML: Tests

#280 Now serializing empty lists
  src/libraries/Core/Microsoft.Agents.Core/Models/Activity.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/BasicCard.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/VideoCard.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/Converters/ConnectorConverter.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/Serialization/Converters/MessagingExtensionAttachmentConverter.cs
  src/tests/Microsoft.Agents.Extensions.Teams.Tests/Model/TestJson/MessagingExtensionAction.json
  src/tests/Microsoft.Agents.Extensions.Teams.Tests/Model/TestJson/MessagingExtensionActionResponse.json
  src/tests/Microsoft.Agents.Model.Tests/ConversationParametersTests.cs
  src/tests/Microsoft.Agents.Model.Tests/ConversationReferenceTests.cs
  src/tests/Microsoft.Agents.Model.Tests/ObjectSerializationTests.cs
  src/tests/Microsoft.Agents.Model.Tests/Resources/ComplexActivityPayload.json
  src/tests/Microsoft.Agents.Model.Tests/Resources/cps_event_out.json
  src/tests/Microsoft.Agents.Model.Tests/Resources/cps_greeting_out.json
  src/tests/Microsoft.Agents.Model.Tests/Resources/cps_suggestedactions_out.json
  src/tests/Microsoft.Agents.Model.Tests/Resources/cps_typing_out.json
  src/tests/Microsoft.Agents.Model.Tests/StreamInfoTests.cs
Labels: ML: Core, ML: Tests

#281 Restored original EnsureTrailingSlash
  src/libraries/Client/Microsoft.Agents.Connector/RestClients/UriExtensions.cs
Labels: ML: Core

#284 Added HandlingAttachments
  src/Microsoft.Agents.SDK.sln
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/App/TeamsAttachmentDownloader.cs
  src/libraries/Hosting/AspNetCore/ServiceCollectionExtensions.cs
  src/samples/HandlingAttachments/AttachmentsAgent.cs
  src/samples/HandlingAttachments/HandlingAttachments.csproj
  src/samples/HandlingAttachments/Program.cs
  src/samples/HandlingAttachments/README.md
  src/samples/HandlingAttachments/Resources/agents-sdk.png
  src/samples/HandlingAttachments/Resources/build-agents.png
  src/samples/HandlingAttachments/Resources/introducing-agents-sdk.png
  src/samples/HandlingAttachments/appManifest/color.png
  src/samples/HandlingAttachments/appManifest/manifest.json
  src/samples/HandlingAttachments/appManifest/outline.png
  src/samples/HandlingAttachments/appsettings.json
  src/samples/test-bots/HandlingAttachments/AttachmentsBot.cs
  src/samples/test-bots/HandlingAttachments/BotController.cs
  src/samples/test-bots/HandlingAttachments/HandlingAttachmentsBot.csproj
  src/samples/test-bots/HandlingAttachments/Program.cs
  src/samples/test-bots/HandlingAttachments/Properties/launchSettings.TEMPLATE.json
  src/samples/test-bots/HandlingAttachments/Resources/architecture-resize.png
  src/samples/test-bots/HandlingAttachments/wwwroot/default.htm
Labels: ML: Samples, ML: Core

#289 UserAuth fixes
  src/libraries/Builder/Microsoft.Agents.Builder/App/AgentApplication.cs
  src/libraries/Builder/Microsoft.Agents.Builder/App/AgentApplicationOptions.cs
  src/libraries/Builder/Microsoft.Agents.Builder/App/UserAuth/UserAuthorization.cs
  src/libraries/Builder/Microsoft.Agents.Builder/App/UserAuth/UserAuthorizationOptions.cs
  src/libraries/Builder/Microsoft.Agents.Builder/UserAuth/UserAuthorizationDispatcher.cs
Labels: ML: Core

#285 AIEntityConverter fix, SerializationInit exception catch
  src/libraries/Core/Microsoft.Agents.Core/Serialization/Converters/AIEntityConverter.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/SerializationInitAttribute.cs
  src/tests/Microsoft.Agents.Model.Tests/AICitationTests.cs
Labels: ML: Core, ML: Tests

#292 Inline /// comment documentation updates
  src/libraries/Authentication/Authentication.Msal/Model/ConnectionSettings.cs
  src/libraries/Authentication/Authentication.Msal/MsalAuth.cs
  src/libraries/Builder/Microsoft.Agents.Builder.Dialogs/DialogContext.cs
  src/libraries/Builder/Microsoft.Agents.Builder/App/UserAuth/UserAuthorization.cs
  src/libraries/Builder/Microsoft.Agents.Builder/ChannelAdapter.cs
  src/libraries/Builder/Microsoft.Agents.Builder/ChannelServiceAdapterBase.cs
  src/libraries/Builder/Microsoft.Agents.Builder/IStreamingResponse.cs
  src/libraries/Builder/Microsoft.Agents.Builder/ITurnContext.cs
  src/libraries/Builder/Microsoft.Agents.Builder/LocalArrayBufferWritter.cs
  src/libraries/Builder/Microsoft.Agents.Builder/RestChannelServiceClientFactory.cs
  src/libraries/Builder/Microsoft.Agents.Builder/State/AgentState.cs
  src/libraries/Builder/Microsoft.Agents.Builder/State/IAgentState.cs
  src/libraries/Builder/Microsoft.Agents.Builder/State/ITurnState.cs
  src/libraries/Builder/Microsoft.Agents.Builder/StreamingResponse.cs
  src/libraries/Builder/Microsoft.Agents.Builder/TurnContext.cs
  src/libraries/Builder/Microsoft.Agents.Builder/TurnContextStateCollection.cs
  src/libraries/Builder/Microsoft.Agents.Builder/UserAuth/IUserAuthorizationDispatcher.cs
  src/libraries/Builder/Microsoft.Agents.Builder/UserAuth/TokenService/OAuthFlow.cs
  src/libraries/Client/Microsoft.Agents.Client/IAgentHost.cs
  src/libraries/Client/Microsoft.Agents.Connector/RestClients/AttachmentsRestClient.cs
  src/libraries/Client/Microsoft.Agents.CopilotStudio.Client/ConnectionSettings.cs
  src/libraries/Client/Microsoft.Agents.CopilotStudio.Client/CopilotClient.cs
  src/libraries/Client/Microsoft.Agents.CopilotStudio.Client/Discovery/PowerPlatformEnvironment.cs
  src/libraries/Core/Microsoft.Agents.Authentication/IConnections.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/MessageFactory.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/SuggestedActions.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/App/TeamsAttachmentDownloader.cs
  src/libraries/Hosting/AspNetCore/CloudAdapter.cs
  src/samples/CopilotStudioClient/CopilotStudioClient/ChatConsoleService.cs
  src/samples/CopilotStudioClient/CopilotStudioClient/SampleConnectionSettings.cs
  src/samples/CopilotStudioClient/EvalClient/EvalClientConfig.cs
  src/samples/CopilotStudioClient/EvalClient/EvaluationService.cs
  src/tests/Microsoft.Agents.Builder.Testing/Adapters/TestFlow.cs
Labels: documentation, ML: Samples, ML: Core, ML: Tests

#291 Handle "OBOScopes" as a string instead of an array
  src/libraries/Builder/Microsoft.Agents.Builder/UserAuth/TokenService/AzureBotUserAuthorization.cs
Labels: ML: Core

#286 Removed test-bots
  src/samples/test-bots/AdaptiveCardsAgent/AdaptiveCardsAgent.csproj
  src/samples/test-bots/AdaptiveCardsAgent/BotController.cs
  src/samples/test-bots/AdaptiveCardsAgent/Model/AdaptiveCardSubmitData.cs
  src/samples/test-bots/AdaptiveCardsAgent/Model/Package.cs
  src/samples/test-bots/AdaptiveCardsAgent/Program.cs
  src/samples/test-bots/AdaptiveCardsAgent/README.md
  src/samples/test-bots/AdaptiveCardsAgent/Resources/DynamicSearchCard.json
  src/samples/test-bots/AdaptiveCardsAgent/Resources/StaticSearchCard.json
  src/samples/test-bots/AdaptiveCardsAgent/TypeAheadBot.cs
  src/samples/test-bots/AdaptiveCardsAgent/appManifest/color.png
  src/samples/test-bots/AdaptiveCardsAgent/appManifest/manifest.json
  src/samples/test-bots/AdaptiveCardsAgent/appManifest/outline.png
  src/samples/test-bots/AdaptiveCardsAgent/appsettings.json
  src/samples/test-bots/AdaptiveCardsAgent/assets/TypeaheadSearch.png
  src/samples/test-bots/Compat/AuthAgentCompat/AdapterWithErrorHandler.cs
  src/samples/test-bots/Compat/AuthAgentCompat/AuthAgentCompat.csproj
  src/samples/test-bots/Compat/AuthAgentCompat/Bots/AuthBot.cs
  src/samples/test-bots/Compat/AuthAgentCompat/Bots/DialogBot.cs
  src/samples/test-bots/Compat/AuthAgentCompat/Controllers/BotController.cs
  src/samples/test-bots/Compat/AuthAgentCompat/Dialogs/LogoutDialog.cs
  src/samples/test-bots/Compat/AuthAgentCompat/Dialogs/MainDialog.cs
  src/samples/test-bots/Compat/AuthAgentCompat/Program.cs
  src/samples/test-bots/Compat/AuthAgentCompat/README.md
  src/samples/test-bots/Compat/AuthAgentCompat/appsettings.json
  src/samples/test-bots/Transcript/transcripts/webchat/3mfTje2lFamIb2yd6URzkO-us.transcript
  src/samples/test-bots/Transcript/transcripts/webchat/7yZoio4OKtLDWbKmhN8V6i-us.transcript
  src/samples/test-bots/Transcript/transcripts/webchat/IiPBkTRwy4D9ugrtch0dvD-us.transcript
  src/samples/test-bots/Transcript/transcripts/webchat/KO5WMfBa8UMAMDr65Nns8O-us.transcript
Labels: ML: Samples

#294 Minor AzureBotUserAuthorization internal cleanup
  src/libraries/Builder/Microsoft.Agents.Builder/UserAuth/IUserAuthorization.cs
  src/libraries/Builder/Microsoft.Agents.Builder/UserAuth/TokenService/AgentUserAuthorization.cs
  src/libraries/Builder/Microsoft.Agents.Builder/UserAuth/TokenService/AzureBotUserAuthorization.cs
  src/libraries/Builder/Microsoft.Agents.Builder/UserAuth/TokenService/IUserAuthorizationFlow.cs
Labels: ML: Core

#297 Refactor URL handling in PowerPlatformEnvironment.cs
  src/libraries/Client/Microsoft.Agents.CopilotStudio.Client/Discovery/PowerPlatformEnvironment.cs
Labels: ML: Core

#300 Fix Stream DeliveryMode
  src/libraries/Client/Microsoft.Agents.Client/HttpAgentClient.cs
Labels: ML: Core

#306 Updated Teams AI Lib to comply with project specs and create a proper…
  src/libraries/Builder/Microsoft.Agents.Builder/State/TurnState.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/AI.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Action/ActionAttribute.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Action/ActionCollection.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Action/ActionHandler.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Action/ActionNameAttribute.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Action/ActionParameterAttribute.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Action/ActionParametersAttribute.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Action/DefaultActions.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Augmentations/MonologueAugmentation.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Augmentations/SequenceAugmentation.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Augmentations/ToolsAugmentation.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Clients/LLMClient.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Embeddings/OpenAIEmbeddings.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Models/AssistantsMessage.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Models/ChatCompletionToolCall.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Models/ChatCompletionsFunctionToolCall.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Models/ChatMessage.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Models/ChatRole.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Models/OpenAIModel.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Models/StreamingChatToolCallsBuilder.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/OpenAI/OpenAIClient.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/OpenAI/OpenAIClientOptions.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Planners/AssistantsPlanner.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Planners/Plan.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Planners/PredictedDoCommand.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Planners/PredictedSayCommand.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Prompts/PromptManager.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Prompts/Sections/ActionAugmentationSection.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Prompts/Sections/ActionOutputMessageSection.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Prompts/Sections/ConversationHistorySection.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Prompts/Sections/GroupSection.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Prompts/Sections/PromptSection.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Prompts/Sections/TemplateSection.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AI/Validators/ActionResponseValidator.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/AssemblyInfo.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/Microsoft.Agents.Extensions.Teams.AI.csproj
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/README.md
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/State/MemoryFork.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/State/Record.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/TeamsApplication.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/Utilities/ResponseJsonParsers.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams.AI/Utilities/Verify.cs
  src/tests/Microsoft.Agents.Extensions.Teams.AI.Tests/AITests/Models/OpenAIModelTests.cs
  src/tests/Microsoft.Agents.Extensions.Teams.AI.Tests/AITests/PromptsTests/SectionsTests/PromptSectionTests.cs
  src/tests/Microsoft.Agents.Extensions.Teams.AI.Tests/Microsoft.Agents.Extensions.Teams.AI.Tests.csproj
Labels: ML: Core, ML: Tests

#305 Update ConnectorConverter to honer JsonIgnore and JsonPropertyName
  src/libraries/Core/Microsoft.Agents.Core/Models/AIEntity.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/Converters/AIEntityConverter.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/Converters/ConnectorConverter.cs
  src/tests/Microsoft.Agents.Model.Tests/ObjectSerializationTests.cs
Labels: ML: Core, ML: Tests

#313 StreamingResponse fixes
  src/libraries/Builder/Microsoft.Agents.Builder/StreamingResponse.cs
Labels: ML: Core, P0
