Repository microsoft/Agents-for-net, pull requests merged in 2025-09, with the labels that each got.

#443 Agentic core
  src/libraries/Authentication/Authentication.Msal/MsalAuth.cs
  src/libraries/Builder/Microsoft.Agents.Builder/TurnContext.cs
  src/libraries/Core/Microsoft.Agents.Authentication/IAgenticTokenProvider.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/ChannelAccount.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/RoleTypes.cs
  src/libraries/Hosting/AspNetCore/ActivityResponseHandler.cs
  src/libraries/Hosting/AspNetCore/BackgroundQueue/ActivityTaskQueue.cs
  src/libraries/Hosting/AspNetCore/BackgroundQueue/ActivityWithClaims.cs
  src/libraries/Hosting/AspNetCore/BackgroundQueue/HostedActivityService.cs
  src/libraries/Hosting/AspNetCore/BackgroundQueue/IActivityTaskQueue.cs
  src/libraries/Hosting/AspNetCore/CloudAdapter.cs
  src/libraries/Hosting/AspNetCore/ExpectRepliesResponseWriter.cs
  src/libraries/Hosting/AspNetCore/HttpHelper.cs
  src/libraries/Hosting/AspNetCore/IChannelResponseHandler.cs
  src/tests/Microsoft.Agents.Hosting.AspNetCore/BackgroundActivityService/ActivityTaskQueueTests.cs
  src/tests/Microsoft.Agents.Hosting.AspNetCore/BackgroundActivityService/HostedActivityServiceTests.cs
  src/tests/Microsoft.Agents.Hosting.AspNetCore/CloudAdapterTests.cs
Labels: ML: Core, ML: Tests

#446 Exposed CosmosDb constructor that accepts CosmosClient
  src/libraries/Storage/Microsoft.Agents.Storage.CosmosDb/CosmosDbPartitionedStorage.cs
Labels: ML: Core

#445 Users/tracyboehrer/agentic v2
  Directory.Packages.props
  src/Microsoft.Agents.SDK.sln
  src/libraries/Builder/Microsoft.Agents.Builder/ActivityExtensions.cs
  src/libraries/Builder/Microsoft.Agents.Builder/App/AgentApplication.cs
  src/libraries/Builder/Microsoft.Agents.Builder/App/AgentApplicationOptions.cs
  src/libraries/Builder/Microsoft.Agents.Builder/App/AgenticAuthorization.cs
  src/libraries/Builder/Microsoft.Agents.Builder/App/UserAuth/UserAuthorization.cs
  src/libraries/Builder/Microsoft.Agents.Builder/TurnContextExtensions.cs
  src/libraries/Builder/Microsoft.Agents.Builder/UserAuth/AgenticAuth/AgenticAuthSettings.cs
  src/libraries/Builder/Microsoft.Agents.Builder/UserAuth/AgenticAuth/AgenticUserAuthorization.cs
  src/libraries/Builder/Microsoft.Agents.Builder/UserAuth/UserAuthorizationModuleLoader.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/ChannelAccount.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/Channels.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/EntityTypes.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/RoleTypes.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/ProtocolJsonSerializer.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/SerializationInit.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/SerializationInitAttribute.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.SharePoint/AssemblyInfo.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.SharePoint/Serialization/SerializationInit.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/AssemblyInfo.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/Models/TeamsChannelAccount.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/Serialization/SerializationInit.cs
  src/libraries/Hosting/AspNetCore/ServiceCollectionExtensions.cs
  src/samples/AgenticAI/AgenticAI.csproj
  src/samples/AgenticAI/AspNetExtensions.cs
  src/samples/AgenticAI/MyAgent.cs
  src/samples/AgenticAI/Program.cs
  src/samples/AgenticAI/README.md
  src/samples/AgenticAI/appManifest/color.png
  src/samples/AgenticAI/appManifest/manifest.json
  src/samples/AgenticAI/appManifest/outline.png
  src/samples/AgenticAI/appsettings.json
  src/samples/Compat/TeamsConversationSsoQuickstart/SimpleGraphClient.cs
  src/samples/HandlingAttachments/AttachmentsAgent.cs
  src/tests/Microsoft.Agents.Builder.Tests/App/UserAuthenticationFeatureTests.cs
  src/tests/Microsoft.Agents.Model.Tests/ProductInfoTests.cs
Labels: ML: Samples, ML: Core, ML: Tests, ML: Packages, WIP

#427 Add citation management methods and update AIEntity and fixes
  src/libraries/Builder/Microsoft.Agents.Builder/IStreamingResponse.cs
  src/libraries/Builder/Microsoft.Agents.Builder/StreamingResponse.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/AIEntity.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/CitationUtils.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/MessageFactory.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/Converters/JsonStringEnumMemberConverter.cs
  src/tests/Microsoft.Agents.Model.Tests/AICitationTests.cs
Labels: ML: Core, ML: Tests

#422 Rename AskQuestionAsync(IActivity, [CancellationToken]) to SendActivi…
  src/libraries/Client/Microsoft.Agents.CopilotStudio.Client/CopilotClient.cs
Labels: From Fork, ML: Core

#449 Generate assembly-level serialization attribute for faster initialization times
  Directory.Packages.props
  src/Microsoft.Agents.SDK.sln
  src/libraries/Core/Microsoft.Agents.Core.Analyzers/Microsoft.Agents.Core.Analyzers.csproj
  src/libraries/Core/Microsoft.Agents.Core.Analyzers/SerializationInitSourceGenerator.cs
  src/libraries/Core/Microsoft.Agents.Core/Microsoft.Agents.Core.csproj
  src/libraries/Core/Microsoft.Agents.Core/Serialization/ProtocolJsonSerializer.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/SerializationInitAssemblyAttribute.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/SerializationInitAttribute.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.SharePoint/AssemblyInfo.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/AssemblyInfo.cs
Labels: From Fork, ML: Core, ML: Packages

#452 Annotate ChannelId class with nullables
  src/libraries/Core/Microsoft.Agents.Core/Models/ChannelId.cs
  src/tests/Microsoft.Agents.Extensions.Teams.AI.Tests/TestUtils/TurnStateConfig.cs
Labels: ML: Core, ML: Tests

#454 Refactor transcript logging and enforce filename length
  src/libraries/Builder/Microsoft.Agents.Builder/TranscriptLoggerMiddleware.cs
  src/libraries/Storage/Microsoft.Agents.Storage.Transcript/FileTranscriptLogger.cs
Labels: ML: Core

#458 Update Extension Route handler to support sub channels.
  src/libraries/Builder/Microsoft.Agents.Builder/AgentExtension.cs
Labels: ML: Core

#460 Include analyzer in the package when packing without a build step
  src/libraries/Core/Microsoft.Agents.Core/Microsoft.Agents.Core.csproj
Labels: ML: Core
