Repository microsoft/Agents-for-net, pull requests merged in 2025-01, with the labels that each got.

#48 Fix Location of Sample folder which was moved incorrectly
  .github/labeler.yml
  .github/workflows/pullrequestlabeler.yml
  src/Microsoft.Agents.SDK.sln
Labels: Build: Automation

#25 But Fix and use Credential Free for the Semantic Kernel Weather bot sample
  src/samples/SemanticKernel/WeatherBot/Program.cs
  src/samples/SemanticKernel/WeatherBot/README.md
  src/samples/SemanticKernel/WeatherBot/WeatherBot.csproj
Labels: From Fork, ML: Samples

#49 Invoke or ExpectReplies failed becuse of two deserialization attempts
  src/libraries/Hosting/AspNetCore/CloudAdapter.cs
Labels: ML: Core

#50 Update nightly.yml
  .github/workflows/nightly.yml
Labels: Build: Automation

#12 Add evaluation client
  .gitignore
  Directory.Packages.props
  src/Microsoft.Agents.SDK.sln
  src/samples/EvalClient/AddTokenHandler.cs
  src/samples/EvalClient/Data/Evaluation Dataset.csv
  src/samples/EvalClient/EvalClient.csproj
  src/samples/EvalClient/EvalClient.sln
  src/samples/EvalClient/EvalClientConfig.cs
  src/samples/EvalClient/EvalDataset.cs
  src/samples/EvalClient/EvalDatasetCsvMap.cs
  src/samples/EvalClient/EvalDatasetResultCsvMap.cs
  src/samples/EvalClient/EvaluationService.cs
  src/samples/EvalClient/Program.cs
  src/samples/EvalClient/README.md
  src/samples/EvalClient/appsettings.json
Labels: From Fork, ML: Samples

#51 Minor CopilotStudioEchoSkill readme & settings updates
  src/samples/CopilotStudioEchoSkill/README.md
  src/samples/CopilotStudioEchoSkill/appsettings.json
Labels: ML: Samples

#56 Ease Middleware by allowing injection and minor auth sample cleanup
  src/libraries/BotBuilder/Microsoft.Agents.BotBuilder/OAuthFlow.cs
  src/libraries/Hosting/AspNetCore/CloudAdapter.cs
  src/samples/AuthenticationBot/AuthBot.cs
  src/samples/AuthenticationBot/AuthenticationBot.csproj
  src/samples/AuthenticationBot/Program.cs
  src/samples/EvalClient/EvalClient.csproj
  src/samples/EvalClient/EvaluationService.cs
  src/samples/EvalClient/Program.cs
  src/samples/Teams/bot-conversation-sso-quickstart/Bots/DialogBot.cs
  src/samples/Teams/bot-conversation-sso-quickstart/Bots/TeamsBot.cs
  src/samples/Teams/bot-conversation-sso-quickstart/Program.cs
  src/samples/Teams/bot-conversation-sso-quickstart/TeamsSSOAdapter.cs
Labels: ML: Samples, ML: Core

#62 Update CI workflow and project files for improved packaging and versioning
  .github/workflows/ci.yml
  src/NugetPackage.Shared.props
  src/samples/Directory.Build.Props
  src/tests/BotBuilder.Testing/Microsoft.Agents.BotBuilder.Testing.csproj
  src/tests/Directory.Build.Props
  src/tests/Microsoft.Agents.Auth.Tests/Microsoft.Agents.Auth.Tests.csproj
  src/tests/Microsoft.Agents.BotBuilder.Dialogs.Tests/Microsoft.Agents.BotBuilder.Dialogs.Tests.csproj
  src/tests/Microsoft.Agents.BotBuilder.TestBot.Shared/Microsoft.Agents.BotBuilder.TestBot.Shared.csproj
  src/tests/Microsoft.Agents.BotBuilder.TestBot.Tests/Microsoft.Agents.BotBuilder.TestBot.Tests.csproj
  src/tests/Microsoft.Agents.BotBuilder.TestBot/Microsoft.Agents.BotBuilder.TestBot.csproj
  src/tests/Microsoft.Agents.BotBuilder.Tests/Microsoft.Agents.BotBuilder.Tests.csproj
  src/tests/Microsoft.Agents.Client.Tests/Microsoft.Agents.Client.Tests.csproj
  src/tests/Microsoft.Agents.Connector.Tests/Microsoft.Agents.Connector.Tests.csproj
  src/tests/Microsoft.Agents.CopilotStudio.Client.Tests/Microsoft.Agents.CopilotStudio.Client.Tests.csproj
  src/tests/Microsoft.Agents.Model.Tests/Microsoft.Agents.Model.Tests.csproj
  src/tests/Microsoft.Agents.State.Tests/Microsoft.Agents.State.Tests.csproj
  src/tests/Microsoft.Agents.Storage.Tests/Microsoft.Agents.Storage.Tests.csproj
  src/tests/Microsoft.Agents.Teams.Tests/Microsoft.Agents.Teams.Tests.csproj
Labels: Build: Automation, ML: Samples, ML: Tests

#52 MessageExtension: Corrected package descriptions causing invalid json content
  src/samples/Teams/MessagingExtensionsSearch/Bots/TeamsMessagingExtensionsSearchBot.cs
Labels: duplicate, ML: Samples

#63 params won't DI if not registers (null not handled)
  src/libraries/Hosting/AspNetCore/CloudAdapter.cs
  src/samples/Teams/bot-conversation-sso-quickstart/TeamsSSOAdapter.cs
Labels: ML: Samples, ML: Core

#61 Add unit tests for the Microsoft.Agents.Storage namespace
  src/libraries/Storage/Microsoft.Agents.Storage.Blobs/BlobsStorage.cs
  src/tests/Microsoft.Agents.Storage.Tests/BlobsStorageTests.cs
  src/tests/Microsoft.Agents.Storage.Tests/CosmosDbPartitionedStorageTests.cs
  src/tests/Microsoft.Agents.Storage.Tests/FileTranscriptTests.cs
  src/tests/Microsoft.Agents.Storage.Tests/MemoryStorageTests.cs
  src/tests/Microsoft.Agents.Storage.Tests/TestTraceListener.cs
  src/tests/Microsoft.Agents.Storage.Tests/TraceTranscriptLoggerTests.cs
  src/tests/Microsoft.Agents.Storage.Tests/TranscriptBaseTests.cs
  src/tests/Microsoft.Agents.Storage.Tests/TranscriptLoggerMiddlewareTests.cs
Labels: ML: Core, ML: Tests

#65 Adding the InMeetingNotification Sample
  src/Microsoft.Agents.SDK.sln
  src/libraries/Client/Microsoft.Agents.Connector/RestClients/ConversationsRestClient.cs
  src/libraries/Client/Microsoft.Agents.Connector/Teams/RestTeamsOperations.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/ProtocolJsonSerializer.cs
  src/libraries/Core/Microsoft.Agents.Core/Teams/Models/Surface.cs
  src/libraries/Core/Microsoft.Agents.Core/Teams/Serialization/Converters/SurfaceConverter.cs
  src/libraries/Core/Microsoft.Agents.Core/Teams/Serialization/Converters/TaskModuleCardResponseConverter.cs
  src/libraries/Core/Microsoft.Agents.Core/Teams/Serialization/Converters/TaskModuleContinueResponseConverter.cs
  src/libraries/Core/Microsoft.Agents.Core/Teams/Serialization/Converters/TaskModuleMessageResponseConverter.cs
  src/samples/Teams/Meetings-Notification/AspNetExtensions.cs
  src/samples/Teams/Meetings-Notification/Bots/InMeetingNotifications.cs
  src/samples/Teams/Meetings-Notification/Cards/AgendaCard.json
  src/samples/Teams/Meetings-Notification/Cards/QuestionTemplate.json
  src/samples/Teams/Meetings-Notification/Cards/SendTargetNotificationCard.json
  src/samples/Teams/Meetings-Notification/Controllers/BotController.cs
  src/samples/Teams/Meetings-Notification/Images/1.Install.png
  src/samples/Teams/Meetings-Notification/Images/2.Home_Page.png
  src/samples/Teams/Meetings-Notification/Images/3.Send_Meeting_Notification.png
  src/samples/Teams/Meetings-Notification/Images/4.Option_Card.png
  src/samples/Teams/Meetings-Notification/Images/5.Output_in_Chat.png
  src/samples/Teams/Meetings-Notification/Images/6.Card_in_Meeting_Chat.png
  src/samples/Teams/Meetings-Notification/Images/7.Popup_Window.png
  src/samples/Teams/Meetings-Notification/Images/MeetingNotification.gif
  src/samples/Teams/Meetings-Notification/InMeetingNotificationsBot.csproj
  src/samples/Teams/Meetings-Notification/Models/ActionBase.cs
  src/samples/Teams/Meetings-Notification/Models/AgendaItem.cs
  src/samples/Teams/Meetings-Notification/Models/MeetingAgenda.cs
  src/samples/Teams/Meetings-Notification/Models/MeetingNotification.cs
  src/samples/Teams/Meetings-Notification/Models/ParticipantDetail.cs
  src/samples/Teams/Meetings-Notification/Models/PushAgendaAction.cs
  src/samples/Teams/Meetings-Notification/Models/SubmitFeedback.cs
  src/samples/Teams/Meetings-Notification/Pages/InMeetingNotificationPage.cshtml
  src/samples/Teams/Meetings-Notification/Pages/InMeetingNotificationPage.cshtml.cs
  src/samples/Teams/Meetings-Notification/Pages/SendNotificationPage.cshtml
  src/samples/Teams/Meetings-Notification/Pages/SendNotificationPage.cshtml.cs
  src/samples/Teams/Meetings-Notification/Pages/Shared/_Layout.cshtml
  src/samples/Teams/Meetings-Notification/Pages/_ViewStart.cshtml
  src/samples/Teams/Meetings-Notification/Program.cs
  src/samples/Teams/Meetings-Notification/README.md
  src/samples/Teams/Meetings-Notification/Titles.cs
  src/samples/Teams/Meetings-Notification/appPackage/color.png
  src/samples/Teams/Meetings-Notification/appPackage/manifest.json
  src/samples/Teams/Meetings-Notification/appPackage/outline.png
  src/samples/Teams/Meetings-Notification/appsettings.json
Labels: ML: Samples, ML: Core

#58 Updated config to include TenantID in TokenValidation section required by AspNetExtensions.cs
  src/samples/CopilotStudioEchoSkill/README.md
Labels: From Fork, ML: Samples

#54 Message Extension Search Sample Fixes
  src/samples/Teams/MessagingExtensionsSearch/Bots/TeamsMessagingExtensionsSearchBot.cs
  src/samples/Teams/MessagingExtensionsSearch/Images/1-add-ME.png
  src/samples/Teams/MessagingExtensionsSearch/Images/1.Install.png
  src/samples/Teams/MessagingExtensionsSearch/Images/10-mention-Search-SelectedItem.png
  src/samples/Teams/MessagingExtensionsSearch/Images/2-added-ME.png
  src/samples/Teams/MessagingExtensionsSearch/Images/2.AddSuccessfully.png
  src/samples/Teams/MessagingExtensionsSearch/Images/3-Open-ME.png
  src/samples/Teams/MessagingExtensionsSearch/Images/3.SelectSample.png
  src/samples/Teams/MessagingExtensionsSearch/Images/4-Opened-ME.png
  src/samples/Teams/MessagingExtensionsSearch/Images/4.QueryResults.png
  src/samples/Teams/MessagingExtensionsSearch/Images/5-search-Result-ME.png
  src/samples/Teams/MessagingExtensionsSearch/Images/5.SentSelectedPackage.png
  src/samples/Teams/MessagingExtensionsSearch/Images/6-selected-Item-ME.png
  src/samples/Teams/MessagingExtensionsSearch/Images/6.SearchQueryResult-2.png
  src/samples/Teams/MessagingExtensionsSearch/Images/7-posted-Item-ME.png
  src/samples/Teams/MessagingExtensionsSearch/Images/8-mention-Search-CommandBar.png
  src/samples/Teams/MessagingExtensionsSearch/Images/9-mention-Search-Result.png
  src/samples/Teams/MessagingExtensionsSearch/Images/msgext-search.gif
  src/samples/Teams/MessagingExtensionsSearch/README.md
Labels: ML: Samples

#68 Add unit tests for the Microsoft.Agents.Hosting.AspNetCore namespace
  src/Microsoft.Agents.SDK.sln
  src/libraries/Hosting/AspNetCore/AssemblyInfo.cs
  src/libraries/Hosting/AspNetCore/BackgroundActivityService/HostedActivityService.cs
  src/libraries/Hosting/AspNetCore/BackgroundTaskService/HostedTaskService.cs
  src/tests/Microsoft.Agents.Hosting.AspNetCore/BackgroundActivityService/ActivityTaskQueueTests.cs
  src/tests/Microsoft.Agents.Hosting.AspNetCore/BackgroundActivityService/HostedActivityServiceTests.cs
  src/tests/Microsoft.Agents.Hosting.AspNetCore/BackgroundTaskService/BackgroundTaskQueueTests.cs
  src/tests/Microsoft.Agents.Hosting.AspNetCore/BackgroundTaskService/HostedTaskServiceTests.cs
  src/tests/Microsoft.Agents.Hosting.AspNetCore/ChannelApiControllerTests.cs
  src/tests/Microsoft.Agents.Hosting.AspNetCore/ChannelServiceExceptionFilterAttributeTests.cs
  src/tests/Microsoft.Agents.Hosting.AspNetCore/CloudAdapterTests.cs
  src/tests/Microsoft.Agents.Hosting.AspNetCore/HttpHelperTests.cs
  src/tests/Microsoft.Agents.Hosting.AspNetCore/Microsoft.Agents.Hosting.AspNetCore.Tests.csproj
  src/tests/Microsoft.Agents.Hosting.AspNetCore/ServiceCollectionExtensionsTests.cs
Labels: ML: Core, ML: Tests

#69 Added Streaming Messages models and helpers
  src/libraries/Core/Microsoft.Agents.Core/Models/EntityTypes.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/GeoCoordinates.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/Mention.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/Place.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/StreamInfo.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/StreamResult.cs
  src/libraries/Core/Microsoft.Agents.Core/Models/StreamType.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/Converters/EntityConverter.cs
  src/libraries/Core/Microsoft.Agents.Core/Serialization/EntityExtension.cs
  src/tests/Microsoft.Agents.Model.Tests/GeoCoordinatesTests.cs
Labels: ML: Core, ML: Tests

#74 Add unit tests for the Microsoft.Agents.Authentication.Msal project
  src/Microsoft.Agents.SDK.sln
  src/libraries/Authentication/Authentication.Msal/AssemblyInfo.cs
  src/tests/Microsoft.Agents.Authentication.Msal.Tests/MSALHttpClientFactoryTests.cs
  src/tests/Microsoft.Agents.Authentication.Msal.Tests/MSALHttpRetryHandlerHelperTests.cs
  src/tests/Microsoft.Agents.Authentication.Msal.Tests/Microsoft.Agents.Authentication.Msal.Tests.csproj
  src/tests/Microsoft.Agents.Authentication.Msal.Tests/Model/ConnectionSettingsTests.cs
  src/tests/Microsoft.Agents.Authentication.Msal.Tests/Model/ExecuteAuthenticationResultsTests.cs
  src/tests/Microsoft.Agents.Authentication.Msal.Tests/Model/MsalAuthConfigurationOptionsTests.cs
  src/tests/Microsoft.Agents.Authentication.Msal.Tests/MsalAuthTests.cs
  src/tests/Microsoft.Agents.Authentication.Msal.Tests/Utils/AppSettingsHelperTests.cs
  src/tests/Microsoft.Agents.Authentication.Msal.Tests/Utils/X509StoreCertificateProviderTests.cs
Labels: ML: Core, ML: Tests
