Repository microsoft/Agents-for-net, pull requests merged in 2025-07, with the labels that each got.

#345 Corrected OBO echange failed message
  src/libraries/Builder/Microsoft.Agents.Builder/Properties/Resources.Designer.cs
  src/libraries/Builder/Microsoft.Agents.Builder/Properties/Resources.resx
  src/libraries/Builder/Microsoft.Agents.Builder/UserAuth/TokenService/AzureBotUserAuthorization.cs
Labels: ML: Core

#348 Update MCS Client to append more detailed user agent.
  src/libraries/Client/Microsoft.Agents.CopilotStudio.Client/CopilotClient.cs
  src/libraries/Client/Microsoft.Agents.CopilotStudio.Client/UserAgentHelper.cs
Labels: ML: Core

#341 Added route rank and sign in handler arguments to Teams Extension
  src/libraries/Builder/Microsoft.Agents.Builder/AgentExtension.cs
  src/libraries/Builder/Microsoft.Agents.Builder/IAgentExtension.cs
  src/libraries/Client/Microsoft.Agents.Client/AgentResponses.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/App/TeamsAgentExtension.cs
Labels: ML: Core

#352 Use WriteStringValue and GetString when UnpackObjectStrings is false to handle simple string values correctly
  src/libraries/Core/Microsoft.Agents.Core/Serialization/Converters/ConnectorConverter.cs
  src/tests/Microsoft.Agents.Model.Tests/UnpackObjectStringsTests.cs
Labels: ML: Core, ML: Tests

#353 Added ErrorResponseException.StatusCode
  src/libraries/Core/Microsoft.Agents.Core/Errors/ErrorResponseException.cs
Labels: ML: Core

#143 Add header propagation functionality
  src/Microsoft.Agents.SDK.sln
  src/libraries/Client/Microsoft.Agents.Client/HttpAgentClient.cs
  src/libraries/Client/Microsoft.Agents.Connector/RestClients/RestClientBase.cs
  src/libraries/Core/Microsoft.Agents.Core/HeaderPropagation/HeaderPropagationAttribute.cs
  src/libraries/Core/Microsoft.Agents.Core/HeaderPropagation/HeaderPropagationContext.cs
  src/libraries/Core/Microsoft.Agents.Core/HeaderPropagation/HeaderPropagationEntry.cs
  src/libraries/Core/Microsoft.Agents.Core/HeaderPropagation/HeaderPropagationEntryCollection.cs
  src/libraries/Core/Microsoft.Agents.Core/HeaderPropagation/HeaderPropagationEntryTypes.cs
  src/libraries/Core/Microsoft.Agents.Core/HeaderPropagation/HeaderPropagationExtensions.cs
  src/libraries/Core/Microsoft.Agents.Core/HeaderPropagation/IHeaderPropagationAttribute.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/Connector/HeaderPropagation.cs
  src/libraries/Hosting/AspNetCore/BackgroundQueue/ActivityTaskQueue.cs
  src/libraries/Hosting/AspNetCore/BackgroundQueue/ActivityWithClaims.cs
  src/libraries/Hosting/AspNetCore/BackgroundQueue/HostedActivityService.cs
  src/libraries/Hosting/AspNetCore/BackgroundQueue/IActivityTaskQueue.cs
  src/libraries/Hosting/AspNetCore/CloudAdapter.cs
  src/libraries/Hosting/AspNetCore/HeaderPropagationMiddleware.cs
  src/libraries/Hosting/AspNetCore/ServiceCollectionExtensions.cs
  src/tests/Microsoft.Agents.Core.Tests/HeaderPropagationTests.cs
  src/tests/Microsoft.Agents.Core.Tests/Microsoft.Agents.Core.HeaderPropagation.Tests.csproj
  src/tests/Microsoft.Agents.Hosting.AspNetCore/CloudAdapterTests.cs
  src/tests/Microsoft.Agents.Hosting.AspNetCore/HeaderPropagationMiddlewareTests.cs
Labels: ML: Core, ML: Tests

#336 Add Dependabot configuration for .NET SDK updates
  .github/dependabot.yml
Labels: From Fork, Build: Automation

#362 Added support for multi agent
  src/Microsoft.Agents.SDK.sln
  src/libraries/Hosting/AspNetCore/BackgroundQueue/ActivityTaskQueue.cs
  src/libraries/Hosting/AspNetCore/BackgroundQueue/IActivityTaskQueue.cs
  src/libraries/Hosting/AspNetCore/CloudAdapter.cs
  src/libraries/Hosting/AspNetCore/ServiceCollectionExtensions.cs
  src/samples/MultiAgent/Agent1.cs
  src/samples/MultiAgent/Agent2.cs
  src/samples/MultiAgent/MultiAgent.csproj
  src/samples/MultiAgent/Program.cs
  src/samples/MultiAgent/README.md
  src/samples/MultiAgent/appsettings.json
  src/tests/Microsoft.Agents.Hosting.AspNetCore/ServiceCollectionExtensionsTests.cs
Labels: ML: Samples, ML: Core, ML: Tests

#387 Teams Shared Channel changes
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/App/TeamsAgentExtension.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/App/TeamsConversationUpdateEvents.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/Models/MembershipSource.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/Models/MembershipSourceTypes.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/Models/MembershipTypes.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/Models/TeamInfo.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/Models/TeamsChannelAccount.cs
  src/libraries/Extensions/Microsoft.Agents.Extensions.Teams/Models/TeamsChannelData.cs
  src/tests/Microsoft.Agents.Extensions.Teams.Tests/App/ApplicationRouteTests.cs
Labels: ML: Core, ML: Tests

#382 Connector Conversations.SendToConversation not handling empty responese from Teams
  src/libraries/Client/Microsoft.Agents.Connector/RestClients/ConversationsRestClient.cs
  src/samples/CopilotStudioEchoSkill/Program.cs
Labels: ML: Samples, ML: Core, P1

#373 Missing graph info would cause exception in AutoSignIn
  src/libraries/Core/Microsoft.Agents.Core/Errors/ExceptionParser.cs
  src/samples/Authorization/AutoSignIn/AuthAgent.cs
Labels: ML: Samples, ML: Core
